[2015-05-30 22:31] pranaykarodi commented on #641
{
  "name": "tracklabs-angular-client",
  "version": "0.0.1",
  "description": "AngularJS based client for the truck and load management system",
  "main": "index.js",
  "scripts": {
    "test": ".\node_modules/karma/bin/karma",
    "start": ".\node_modules/http-server/bin/http-server"
  },
  "repository": "bitbucket:kamal083/angular-client.git",
  "contributors": [
    {
      "name": "Kamal Mewa

[2015-05-30 22:35] pranaykarodi commented on #641
I changed the "\" in the 6th and 7th line to "/" after posting my query here. Hence the npm install ran successfully but them npm start created the problem. :(

C:\Pranay\Cloned_FrontEnd>npm start

ode_modules/http-server/bin/http-server

'.' is not recognized as an internal or external command,
operable program or batch file.

npm ERR! Windows_NT 6.3.9600
npm ERR! argv "C:\\Program Files\\nodejs\

[2015-05-30 22:36] pranaykarodi commented on #641
And here is my http-server file

#!/usr/bin/env node

var colors     = require('colors'),
    httpServer = require('../lib/http-server'),
    portfinder = require('portfinder'),
    opener = require('opener'),
    argv = require('optimist')
      .boolean('cors')
      .argv;

if (argv.h || argv.help) {
  console.log([
    "usage: http-server [path] [options]",
    "",
    "options:",
    "  -p

[2015-05-30 23:44] hhsnopek commented on #641
1. You have multiple errors within your `package.json`, use this site to correct the issues: http://package-json-validator.com/
2. I'm unsure what is wrong with your code you've pasted but I don't see any roots problems in that or in your package.json

[2015-05-31 10:36] pranaykarodi commented on #641
It should not contain any issue, as this package.json working fine for ubuntu systems. I tried to do it in windows 8.1, hence it is showing error. I am doing it for the first time so can't see which compatability issue i am missing here. npm install has worked. This syntax error in the 'start' script is stranger. Can't see which '.' it is not able to recognize.

[2015-05-31 14:34] janviehweger opened #643 "PostCSS is not working in the current (v3.0.4) roots version"
**Problem:**
* [PostCSS] (https://github.com/postcss/postcss) is not working in the current (v3.0.4) roots version

**Reason:**
* missing [PostCSS adapter](https://github.com/jenius/accord/blob/master/docs/postcss.md) in the included accord version `(v0.18.0)`

**Workaround:**
(by [EnMod] (https://github.com/EnMod), as discussed on [Gitter](https://gitter.im/jenius/roots)):

* in the Roots module

[2015-06-01 03:02] dbox commented on #619
This isn't the extension, but @hhsnopek just helped me get a sample roots-bower setup going:

https://github.com/dbox/roots-bower

The biggest issue was trying to get rid of the bower_components folder in `public/`

[2015-06-01 04:01] dbox commented on #634
@kylemac but wouldn't it be *awesome* if roots (or an extension) automagically wrote that `.htacess` file for you? :smile:

[2015-06-01 14:49] dbox commented on #619
https://www.npmjs.com/package/bower-installer This might be helpful too

[2015-06-01 16:50] joshrowley commented on #634
@dbox That's a perfect use case for roots extensions. There's a [roots-netlify](https://github.com/carrot/roots-netlify) extension that writes config files for a static hosting platform called [Netlify](https://www.netlify.com/). It's a good starting point for figuring out how to write an extension for writing an `.htaccess` file.

[2015-06-01 17:53] dbox commented on #634
Thanks @joshrowley. Might be a little over my head at the moment, but hopefully someone can take it on.

[2015-06-02 18:52] jenius commented on #619
Thanks @hhsnopek! I'm really sorry I just don't have time to work on this now, but I'm sure someone will be able to pull an extension together. It shouldn't be too tough, hopefully!

[2015-06-02 18:56] jenius commented on #643
We just need to update accord and push a new roots release. I'll do this tomorrow, sorry -- have been off the grid for the last 2 weeks traveling.

[2015-06-03 15:52] jenius commented on #643
Roots `3.1.0`, released today, will work with postcss. Sorry about the delay!

[2015-06-03 15:52] #643 closed

[2015-06-03 16:07] jenius commented on #642
Should be set now with the latest release

[2015-06-03 16:07] #642 closed

[2015-06-04 09:32] jenius commented on #640
Could you leave a little more detail about what filepaths this has been happening at? Dig a little deeper, look for patterns, and give us all the info you can. I still can't diagnose the issue from this yet.

[2015-06-04 10:53] jenius commented on #638
Hey there @Gioni06! Glad you are looking to get involved. Here are the docs for building extensions: http://roots.cx/docs/extensions

It's not the easiest thing ever, but they can be quite powerful, you can basically mod any part of roots in any way. To get started with this, I would probably create a pass through extension that takes stock of all the pages being processed, then passes them on to

[2015-06-04 10:53] #638 closed

[2015-06-05 17:59] maniqui commented on #634
I might be missing something, but the code for serving `/about.html` (when accessing `/about`) using `.htaccess` is just the following:

[code]

So, @dbox , this means that you don't need to "auto-magically generate the mod-rewrite rules to the .htaccess file", because you can do that with just one simple rule for every URL (instead of one rule for each URL).

[2015-06-05 18:03] dbox commented on #634
Well awesome. Didnt know you could do that. Thanks!

[2015-06-05 18:03] #634 closed

[2015-06-09 06:08] haxsu commented on #588
I was able to install roots on Windows but when I try to make a new project, it does this:

C:\Users\ALL INJURY CARE>roots new project
{ [Error: Command failed: C:\Windows\system32\cmd.exe /s /c "git clone https://g
ithub.com/roots-dev/base.git C:\Users\ALL INJURY CARE\.config\sprout\roots-base"

Too many arguments.

usage: git clone [options] [--] <repo> [<dir>]

    -v, --verbose         be more

[2015-06-09 14:16] jenius commented on #588
Hey @haxsu, looks like the issue is that your windows username has spaces in it that are not being escaped. Do you happen to know how spaces in paths are escaped in windows? On unix, they are prefixed by a backslash. If this is the same in windows, would be an easy fix here. Also for the future, it's a super bad idea to put spaces in your computer's username :grinning:

[2015-06-09 14:20] declandewet commented on #588
@jenius - you can either surround the command in quotation marks, or escape spaces with a caret (`^`)

[2015-06-09 14:28] jenius commented on #588
Of course it would be that -_____________-

Welp, we know how to fix it now. I'm not going to have time to personally write the fix for this any time soon, but if anyone wants to take a crack at it I'd gladly review a PR!

[2015-06-09 19:31] hhsnopek opened #645 "Apply stylus plugins to jade filters"
Unfortunately when you included a stylus file with jade the `:stylus` filter you're unable apply stylus plugins (when using roots). Here's the work around for it: http://stackoverflow.com/questions/12272936/is-it-possible-to-use-stylus-plugins-with-inline-stylus-code-embedded-in-a-jade
It would be awesome if we were able to add this workaround so we may inline stylus while still using plugins.

[2015-06-09 20:22] jenius commented on #645
So this is a little dangerous as it appears as if you need to patch jade's source, which is definitely not something we can or want to get involved with.

However, if there is a way to make this modification through an option passed in to jade (which is preferred, potentially a pull request could make this happen, or it is already possible through more tinkering), we could add an option to accord

[2015-06-09 20:22] #645 closed

[2015-06-15 19:11] kylemac opened #647 "improve tests for `lib/api/new.coffee`"
in the process of upgrading to the new version of sprout on #644, i've found that there are a few use-cases we could add to to improve our coverage and integration with [sprout](https://github.com/carrot/sprout). I'll attempt to keep a list here and contribute these back.

- [ ] roots.new() with a default template set
- [ ] roots.new() with a template that doesn't exist
- [ ] roots.new() with a te

[2015-06-17 23:12] haxsu commented on #588
I can verify that renaming my computer name fixed that issue. I also had to add a path directory manually.

Now I am having the same issue that monkeez had where as when I run "roots watch" it leaves a blank screen with a red x. Trying to resolve this issue at the moment but help would be appreciated.

[2015-06-21 04:21] cspotcode opened #650 "Runs app.js, but only if app.coffee exists"
Is this intended behavior?  I was trying to set up a roots project with my app file written in JavaScript instead of CoffeeScript. (just personal preference)

With only an `app.js` file, roots doesn't read it.  With an `app.js` and an `app.coffee` file, roots only reads the `app.js` file.

Is it doing `require('./app')` or something?

Thanks for your time.

[2015-06-23 22:14] jenius commented on #650
Hey there! Yes, it is. Roots does not support `app.js`, the fact that it works under any condition was unknown to me. If there's enough demand for it, we could add support for this, but `app.coffee` is really just a very simple configuration file, not one in which a lot of coding needs to be done, so coffee just makes it less to write and cleaner.

[2015-06-23 23:48] cspotcode commented on #650
I see, makes sense.  I'll switch back to using app.coffee.  Thanks for the
explanation!
On Jun 23, 2015 6:14 PM, "Jeff Escalante" <notifications@github.com> wrote:

[2015-06-24 07:24] jenius commented on #650
:+1:

[2015-06-24 07:24] #650 closed

[2015-06-26 19:55] pjv opened #651 "Why is a fresh roots install giving me a deprecation warning on compile?"
On a fresh install of roots and the creation of a new site project, each compile gives me this warning:

`compiling... Autoprefixer's process() method is deprecated and will removed in next major release. Use postcss([autoprefixer]).process() instead`

Shouldn't the project that gets created set up app.coffee so the compile happens in accord with the preferred method of calling autoprefixer?

And

[2015-06-26 20:09] jenius commented on #651
Sorry, I thought this has been resolved but apparently it has not. If you just go to your `package.json` file and update `autoprefixer-stylus` to `0.7.0`, this will solve the problem.

[2015-06-26 20:10] declandewet commented on #651
damnit @jenius you beat me to it! :P

[2015-06-26 20:13] pjv commented on #651
Perfect. Thanks!

Now how about this deprecation warning (last one):

`Transformers.markdown is deprecated, you must replace the :markdown jade filter, with :marked and install jstransformer-marked before you update to jade@2.0.0`

[2015-06-26 20:21] dbox commented on #651
@pjv do `npm install jstransformer-marked` then change all `:markdown` instances to `:marked`

btw @jenius this is what was going on with axis-www

[2015-06-26 20:25] jenius commented on #651
Didn't we update the roots-base template with this set of changes as well?

[2015-06-26 20:26] dbox commented on #651
no, i think only an axis bump. I'll do it

[2015-06-27 09:56] pjv commented on #651
thanks all. no more deprecation warnings.

[2015-06-27 09:56] #651 closed

[2015-07-01 08:56] #639 closed

[2015-07-13 20:31] #637 closed

[2015-07-13 20:31] kylemac commented on #640
ping @Grenzfrei. we'd love to help debug a little more - let us know if you're still seeing this

[2015-07-13 23:41] shaekuronen opened #652 "Sub-dirs in dump_dirs"
Would like to re-organize the file structure to look like this
[code]

[2015-07-15 23:53] ArrayKnight opened #653 "Data save causes reload without content update"
I am utilizing the records extension and have a json file in my data folder. I have successfully pulled data from the file into my templates and have the watcher running. When I save changes to the json file, the compile task runs and the browser reloads, but the new data is not reflected. It requires a restart of the watcher to get the new data to come through.

[2015-07-17 10:40] jenius commented on #653
This should be filed in https://github.com/carrot/roots-records

At the moment, roots-records caches your data when it starts watching for better performance, and does not constantly scan it for changes. Integrating this type of behavior would be possible but fairly challenging -- maybe someone could help with it though!

[2015-07-17 10:40] #653 closed

[2015-07-17 11:20] jenius commented on #652
Yes, `dump_dirs` does not support nested directories at the moment. It's possible to add support for this -- are you interested in contributing? It shouldn't be a super tough fix, you can find the place where it's used [here](https://github.com/jenius/roots/blob/master/lib/config.coffee#L145)

[2015-07-20 00:40] hhsnopek opened #654 "Roots v3.2.x breaks browserify v0.3.2"
It seems breaks the roots-browserify (v0.3.2) extension. I can't give an error log because nothing is presented in the terminal as an error. It says it compiles correctly but when the `build.js` is loaded by the browser, the script seems to only load partially and is inconsistent on where it cuts off each time. Reverting to roots v3.1.x solves the problem; wish I could give more details but there

[2015-07-20 16:04] terusus opened #655 "After update from 3.1.0 to 3.2.1 no images are showing"
I updated only the global roots app and no image assets are showing on the website (project created and working with 3.1.0).

I get an error result in the browser saying "connection refused" to the specific image file.

[2015-07-20 20:49] danlin commented on #655
same here but with a fresh 3.2.1 project. i move down to 3.1.0 and all works as expected.

[2015-07-20 21:26] hhsnopek opened #656 "Roots should throw an error if package.json version differs from local version"
For instance if I'm running `v3.1.0` but the `package.json` for a site uses `v3.0.x` there could be a breaking change. Roots should check the projects package.json to verify that we are using the same version or same minor version (so long as roots follows semver, which I'm unsure if it does or doesn't)

[2015-07-21 20:48] jenius commented on #656
I'm not sure I understand. Do you mean comparing the version you are using globally to produce the actual site, and if you have installed roots locally also by chance, comparing it against that?

The issue I see here is that you don't actually need to install it locally... we only do this because of netlify's pipeline. I suppose we could add a check at some point, like perhaps before deploy, if it

[2015-07-21 20:51] hhsnopek commented on #656
You got it on the spot, but the use cases could go beyond using netlify for deployment. It's more of a helper so that your global version & project version are the same so if it is specified within the `package.json` you know you're okay

[2015-07-21 20:54] jenius commented on #656
I'm ok with having it, but not at the expensive of speed at any time, or with any possibility that it could be annoying. Integration would need to be designed carefully.

[2015-07-21 20:56] hhsnopek commented on #656
it would just be a simple check at the beginning of the root watching or compiling a project, shouldn't slow roots down at all as it's not compiling anything, just checking the version - probably can just read the projects `package.json` then use the same method for printing `roots -v` and compare them

[2015-07-23 08:20] jenius commented on #655
Hey guys, really sorry this is happening. We have isolated the bug, it's something very strange in charge, roots' web server. It somehow made it through all the tests for 2-3 levels deep of modules, even through 95% coverage on all of them. Crazy. Either way, this bug will be patched up within the next week, for now you can stay on `3.1.x`. Really sorry that this happened, and will update here per

[2015-07-23 17:27] Arshad3 commented on #656
Update lollipop 5.1.1 resurrection 5.5.1 after root not complete root permission  how to plz help me

[2015-07-23 21:47] jenius commented on #656
@Arshad3 I think you might be in the wrong place...

[2015-07-29 10:02] danlin commented on #655
3.2.2 Still have this bug.
Running in Production works.
The bug is based on this middeware https://github.com/samccone/infestor
Without content replacement all works fine.

[2015-07-29 20:12] jenius commented on #655
Ah thanks for digging this up. This is strange, as the version of infestor is the same as `3.1.x` in `3.2.2`, so I'm having trouble seeing why it would act differently. I'll dig into it a little further though when I have a minute!

[2015-08-03 14:43] hhsnopek opened #657 "add/normalize template reference"
Add: `roots new <name> --tpl <tplName>`

As a connivence when you are accessing templates with `roots tpl` but unable to select a template via `roots new <name> --tpl <tplName>`

[2015-08-04 02:21] dbox commented on #655
Can verify happening in 3.2.2

[2015-08-04 09:17] kristianmandrup opened #658 "Ability to swap/customize server more easily"
I need to use an existing Koa server configured with a bunch of extra features.
How do I swap out charge server in roots config?

`server.js` seems to use `connect` server

[code]

Easy to swap out for sure :) But could be made even easier...

I see the following in `commands/serve.js`, that I could also swap out:

[code]

Same for `watch` command:

[code]

[2015-08-04 13:24] jenius commented on #658
So the issue with swapping out roots' server is that [charge](http://github.com/carrot/charge) includes websocket functionality that is used for the page refresh. And its API for handling the websocket piece would not work with any other random server, unless it purposefully exactly mimicked charge. This means errors would be thrown left and right in watch mode as nonexistant functions were called

[2015-08-04 13:26] jenius commented on #657
I'm not sure I understand... could you clarify a little here?

[2015-08-04 13:28] hhsnopek commented on #657
yeah so right now when you wanna access templates without creating a new project you're able to use both: `roots tpl ...` & `roots template ...`. When we create a project with a template you must use `roots new <name> --template <templateName>` with no alias to `roots new <name> --tpl <tplName>

[2015-08-04 13:30] hhsnopek commented on #657
tl;dr: alias `--template` to `--tpl`

[2015-08-04 14:11] jenius commented on #657
Sure, works for me. Very simple change too. Want to PR it in, or I can do it?

[2015-08-04 14:13] hhsnopek commented on #657
if you're able to get it done that would be great, otherwise I can get to it later this weekend

[2015-08-04 14:23] #657 closed

[2015-08-04 14:24] hhsnopek commented on #657
thank you :dancer:

[2015-08-04 19:36] kristianmandrup commented on #658
Thanks for the info. Makes perfect sense. My setup includes browser sync, so works just fine with live reload. Pretty standard these days... On top of that, I will use Roots.cx to generate Marko templates on the fly, so I need to teach Jade to understand specific Marko and Lasso templates via Pencil :o
All good :) super powerful combo!!!

[2015-08-04 19:36] #658 closed

[2015-08-05 02:31] jag20101 commented on #655
^ Yup. Running into the same problem :/

[2015-08-05 05:56] CalvinLeGassick commented on #655
Am experiencing. Can confirm.

[2015-08-06 21:45] jenius commented on #655
Hey there everyone!

So I think I have this issue worked out. I've applied a fix and tested it on one project that I was having issues with and it worked. However, I'd like to make sure that I really have this right before publishing this next patch.

For anyone that has an example project showing the issue, could you link me up to this project and/or share it with me so I can test it and make sur

[2015-08-06 22:21] danlin commented on #655
@jenius i don't know how other systems handle transfer-encoding: chunked header. On my Mac OS X System with Safari i have broken connections on every Image file and other strange things happening like missing text.

with my infestor patch i have no issues anymore.

[2015-08-07 09:13] terusus commented on #655
I cannot share the project with you but I can test out the patches myself.

[2015-08-07 15:04] dbox commented on #655
I'm not even sure you need a sample project. I assume all 3.2.2 projects have broken images.

Here's a repo:

https://github.com/dbox/roots-image-test

Image worked in 3.1.0. Upgraded globally to 3.2.2 and image was broken.

[2015-08-07 15:24] dbox commented on #367
@hhsnopek Is this something in your wheelhouse? Was just using another project with browsersync and it's soo fast.

[2015-08-07 15:32] dbox opened #659 "segmentation fault roots watch"
I (and others) get this quite often now:

 `segmentation fault roots watch`

I did a search and haven't seen any information on this specific error. Basically the watcher will shut down randomly, then show the error. After restarting `roots watch`, everything works normally again until, eventually it shows the `segmentation fault` again.

At this time I can't pin down a specific action that is tri

[2015-08-07 15:57] jenius commented on #659
Hm, weird. Segmentation faults are outside of roots' domain, this is a severe memory issue with the machine. We're not really able to catch errors like this or handle them with node... is there anything in particular you can do to replicate errors like this? Could you watch your memory and see if it's maxing out?

[2015-08-09 17:27] tcurdt opened #660 "documentation/website improvements"
http://roots.cx/ is a nice web site - but boy! No link to the github repo?
And on http://roots.cx/articles/blogs not even a link to some example code?

[2015-08-10 23:17] markphillips100 opened #661 "JS_Pipeline and CSS_Pipeline hash error when using either roots-contentful or roots-records extentions"
Okay, so this is happening on Windows (10 but occurred on 8.1 too).  I have no idea if the same problem exists on other platforms.

There are really two outcomes that occur when using the **hash:true** on each of the pipeline extensions **and** using either roots-contentful **or** roots-records configured to produce single-pages from data.

**The first outcome**
Functionally both dynamic content e

[2015-08-11 08:52] Gioni06 commented on #640
I'm currently having similar issues with roots watch. It compiles once, but fails on file changes. Roots is looking for jade templates in my `css` / `less` folders. It tells me , that my `navigation.less` has an error in line 1. I double checked every reference but i cannot find out why roots thinks that this is an view file.

      [Error: Error: /Users/Jonas/Documents/Development/Github/qsc-airq

[2015-08-13 22:34] ganar commented on #660
I humbly suggest an article on how to update roots. I am on Version 3.1.0 and can't find the reference on how to update to 3.2.2

[2015-08-13 22:59] ganar opened #663 "[V 3.1.0] problems setting the output variable in app.production.coffee"
I have a file named `app.production.coffee` the sets the place were I want *roots* to build my production files for the project.

My variable  `output` is set like this:

[code]
but even though on executing `roots compile -e production` it seems to be doing something, and no error is thrown, the corresponding directory is empty.

I also tried doing

[code]
With the same result. What do you suggest

[2015-08-14 08:24] declandewet commented on #660
@ganar since Roots is an npm module, you can update it just like any other npm module - `$ npm update roots -g`

@tcurdt I see your point - but this issue should really be taken up on the [roots.cx repo](https://github.com/carrot/roots-www), since the docs are a separate project to roots itself

Please post your feedback there

[2015-08-16 18:56] Leeds-eBooks commented on #654
Hi, new roots user, I was looking for something very specific and roots answered to every single part of it so thanks very much.

I'm getting this error too and I thought I would describe my experience in case it helps (although I have no idea how to debug it usefully). I've managed to narrow it down to one very specific group of lines that break browserify when included in one of my modules. Take

[2015-08-16 23:32] jenius commented on #654
Hi @Leeds-eBooks -- which version of roots are you using right now? If you are on `3.2.x`, try downgrading to `3.1.0` (`npm i roots@3.1.0 -g`), there have been some strange issues with the latest version. If this does not fix the problem, could you drop a little more detail on which lines, or a minimal sample project that can be used to reproduce the problem?

Thanks so much for the thorough repor

[2015-08-17 13:39] Leeds-eBooks commented on #654
Thanks for the quick response! It fills me with confidence. Been getting to grips with multipass compilation and it's really fantastic – I thought I would have a nightmare trying to get scss to play nicely with postcss but it works perfectly. And `roots-records` is brilliant.

Anyway yep, this bug was with `3.2.x`, and rolling back to `3.1.0` fixed it. In terms of supplying a sample reproduction o

[2015-08-17 14:29] jenius commented on #654
Great, glad this worked. Yeah the bug in `3.2.x` is with the server. As you probably saw here, it's a very confusing bug, I don't entirely understand why or how it's happening. I'm not on a full-time schedule at the moment so I have much less time to work on this, but I will be taking a look today and tomorrow and trying to work this out.

Sorry for the issues, and I'll let you know as soon as we

[2015-08-17 14:42] Leeds-eBooks commented on #654
Thanks man. Like I said if there's any way I can help out I'd be more than happy to spend some time on this.

[2015-08-18 12:10] jenius commented on #660
Agreed, thanks Declan!

[2015-08-18 12:10] #660 closed

[2015-08-18 12:14] jenius commented on #663
In `app.coffee`, `module.exports` is an object. Therefore, you must use the key/value syntax as in other objects, not assigning of a variable.

Changing this to `output: '../../www/ia` will work. I just tested this with a fresh project :grinning:

[2015-08-18 12:14] #663 closed

[2015-08-18 12:35] jenius commented on #640
The issue referenced above is definitely the cause. I'm looking into a fix for this today. Closing this issue to prefer #662 unless the original author can provide more detail!

[2015-08-18 12:35] #640 closed

[2015-08-18 12:57] jenius commented on #661
Hm, this is interesting. I can see why this has never been files before, usually hash is used only in `app.production.coffee` for `roots compile` commands, which are 1 shot and start fresh each time. Are you running `hash: true` while in development?

[2015-08-18 13:00] markphillips100 commented on #661
I was testing a production compile. Emulating what would happen when my
site is generated during a production deploy on Azure website.
On 18 Aug 2015 10:57 pm, "Jeff Escalante" <notifications@github.com> wrote:

[2015-08-18 13:07] jenius commented on #367
Still would like to make this happen. Eventually will look into it when I have time, promise!

[2015-08-18 13:18] jenius commented on #655
Still working on fixing this guys. Sorry for the delays!

[2015-08-18 13:21] jenius commented on #661
Ok, I'll dig into this a little further today!

[2015-08-18 14:08] declandewet commented on #367
This will be on my radar when I start :)

[2015-08-18 21:44] ganar commented on #663
@jenius Jeff: thanks a lot for your help. Please consider linking together the article on [roots configuration](http://roots.cx/docs/configuration)  and [environments](http://roots.cx/docs/environments) or give a more complete example at the end of *environment*. The documentation is not very clear for us noobs.

[2015-08-18 23:05] jenius commented on #663
No problem! Would you be willing to contribute these changes to the documentation? I'm not sure I understand exactly what clarifications you are after, so I'm sure you'd do a better job than me!

https://github.com/carrot/roots-www

[2015-08-19 18:19] shaekuronen commented on #661
Not sure if this is the same issue or not, my app.staging.coffee is
[code]
when run `roots compile -e staging` everything works except file revving. The main.HASH.js file is in the build dir, but is not referenced correctly in the rendered html.

The contents of foot.jade are
[code]
this works just fine without hash option. But with hash option, the html is `<script src='js/main.js'></script>` ins

[2015-08-19 21:56] shaekuronen opened #664 "Better error messages?"
Currently `roots watch` is failing silently. app.coffee is
[code]
when I comment out the locals and the js_pipeline config, `roots watch` starts working again and successfully launches local server + opens browser window. Great. What's not so great is having no error messages to determine why this is happening. Is there anyway to get visibility into what's going on inside roots watch?

If it's hel

[2015-08-20 09:59] declandewet commented on #664
If you run `roots watch --verbose`, what output do you see?

[2015-08-20 12:51] SevereOverfl0w commented on #611
This would be a great feature, any progress?

[2015-08-20 16:28] jenius commented on #611
I think we actually have this supported now, right @joshrowley?

[2015-08-20 16:33] joshrowley commented on #611
I have a PR open for it! https://github.com/jenius/roots/pull/625

It's been a while so the code isn't fresh in my mind. There were a couple last things you wanted me to do with it. I'll take a peek at it this weekend and figure out the remaining steps left so it's ready for a merge.

[2015-08-20 22:25] shaekuronen commented on #664
@declandewet Was not getting much from `roots watch --verbose`, hangs on `compiling...`

[2015-08-21 13:02] dbox commented on #611
Great idea @joshrowley

[2015-08-24 09:59] edravis opened #665 "JS Bundle is cut out"
I'd love to reproduce the steps but I was just using roots as always and then I realise a really strange thing. My `bundle.js` starts with `else`! I've checked and the `bundle.js` file in the public directory is perfectly fine so I guess it's the watcher that's getting this file wrong.

I don't know what else can I say. If you think there's some information that I can share there's no problem, I w

[2015-08-24 10:13] edravis opened #666 "How to properly import dependencies?"
I'm trying to understand the best pattern for using dependencies with roots. Both of Javascript and CSS ones.

With JS I'm currently using `browserify` and because CommonJS I just import the execution point (`app.js`) and then `browserify` load the dependencies as they are being required.

With CSS I'm currently using the default `stylus` with `css_pipeline`. And I'm not achieving a good importing

[2015-08-24 10:34] IRus commented on #258
@jenius I think RSS should be included by default(like in wordpress for example). Today i found an blog(http://andyshora.com/) and this blog built with roots. I want get latest updates and start searching RSS. And this blog actually doesn't have RSS! It's ridiculous... RSS should be zero-config included by default.

[2015-08-24 11:16] Leeds-eBooks commented on #665
I think this is the same bug I was epxeriencing here: #654

I think if you roll back to `3.1.0` you'll stop seeing this problem.

[2015-08-24 11:47] danielforsberg opened #667 "compile production env output [object Object] in css file"
I have an `app.wp.coffee` with:

[code]

`roots compile -e wp` brings all the files where the output is set but the javascript is empty and the css file contains the text `[object Object]`

This worked before the update to 3.1.0

Thanks

[2015-08-24 12:41] edravis commented on #665
Works like a charm, thanks @Leeds-eBooks
Btw @jenius , I've notice that only happen when `watch` not with `compile`. Maybe this is some important info.

[2015-08-24 12:47] edravis commented on #667
I'm not sure if something changed with this new release but it has some very bad issues (see #654)
I'd recommend you to rollback to 3.1.0 (`npm i roots@3.1.0 -g`) and stay in there since the 3.2.0 became more stable. Anyway, you could wait for @jenius to shed some light.

[2015-08-24 16:16] jenius commented on #258
I agree. I would love to have this feature, I just don't have time
personally to implement it right now. If you'd be willing to contribute I'd
be happy to work with you! Otherwise I am doing my best to make things
happen, promise.

On Mon, Aug 24, 2015, 12:34 Ibragimov Ruslan <notifications@github.com>
wrote:

[2015-08-25 10:10] danielforsberg commented on #667
Thanks for the tip with the rollback, but wierdly I still get the same result. (Rolling back to `3.0.0`).

[2015-08-26 13:24] edravis opened #668 "Compiler doesn't create the proper directories"
I have the following `app.coffee`:

[code]

And after the compile it doesn't create the `js/` directory inside `public/`. Oddly, it creates perfectly the `css/` and `img/`.

Weird behaviour. At this moment I'm just compiling, then creating manually the directory and finally executing again the compiler. But doesn't look nor stable nor like a long-term solution.

Any suggestion?

[2015-08-27 01:00] johnpeele commented on #667
+1

I am getting this same issue. I am on `3.1.0` as well.

[2015-08-27 22:28] Leeds-eBooks commented on #189
@jenius Has any progress been made on the extension? I'm interested in having a go myself, but I don't want to duplicate work.

[2015-08-28 12:18] tiktuk opened #669 "Livereload not working"
Just tried out Roots (v3.2.2 on node v0.12.4) and couldn't get Livereload to work.

I followed the guide and created a new project with ``roots new example`` and ``roots watch``. When I edit a file the change is picked up and the project is compiled as expected. It is not automatically reloaded though.

On Safari (latest, v8.0.8) I noticed that the ``/__roots__/main.js`` is not injected (I found i

[2015-08-28 18:05] jenius commented on #189
Nope, not yet. I may be missing an easier way to do it, but in my estimation an extension like this requires a very complex mod to the central roots compile pipeline. By all means feel free to take a crack at it though!

[2015-08-28 18:05] jenius commented on #669
Hey there, really sorry about this. @samccone might be able to help point me in the right direction for a fix here

[2015-08-28 18:17] Leeds-eBooks commented on #189
I've actually got something working! It has one major caveat currently, and it's written very much to my specific use-case, but it could easily be made public-ready by swapping out some hard-coded values for user options. The caveat is that I have no idea how to make this work with `roots-records` template views.

What it essentially does is take all your jade files, then for each language yaml fi

[2015-09-01 02:51] ganar opened #670 "Running multiple versions of roots in the same machine"
I'm sorry for the noob question: I have multiple projects, running different versions of roots.

How do I make a `roots watch` of a project made in *roots 2.4.1*?  The new *roots 3.1.0* does not output correctly and the configuration does not seem to force the old version of roots upon `roots watch`

[2015-09-01 03:32] joshrowley commented on #670
One solution is to specify the roots version in `package.json` and then add an alias in your bash profile: `alias roots-local="./node_modules/roots/bin/roots"`, then run `roots-local` whenever you want to run the version of roots specific to the project you're working on.

[2015-09-01 22:30] michaelkornblum opened #671 "current version of postcss not supported in roots"
I've been trying to use post css but at the moment it is not working. When I run roots compile, the command-line states that postcss 5.0.4 is not supported.

[2015-09-02 14:49] edravis commented on #666
:( @jenius

[2015-09-03 13:10] jenius commented on #666
Hi @edravis -- I'm currently working on a very limited basis and have little time to get to support requests. I'm really sorry, I feel bad and have a lot of people to get back to. I am doing my absolute best right now, and as soon as I have a moment I will take a look at this.

In the meantime, try http://gitter.im/jenius/roots -- you might be able to find some help there!

[2015-09-03 13:12] edravis commented on #666
I understand. Don't worry I just wanted to confirm that you're busy. I'll try find some help in the gitter as you've pointed. Thank you anyway.

[2015-09-04 17:39] michaelkornblum opened #672 "Background image not displaying in Charge Server"
I know my stylus syntax is correct

[code]

[2015-09-05 11:24] prasutagus commented on #672
Yes, it's a bug previously reported. Read back a few issues.

[2015-09-05 22:45] #672 closed

[2015-09-05 23:17] AleksejDix opened #673 "PostCSS and lostgrid"
hello i am trying to make roots work with postcss and the  [lost grid](https://github.com/corysimmons/lost)

[code]

can you help me ?

[2015-09-06 01:45] michaelkornblum commented on #673
Most definitely sir. How would you like to contact me?

On Sat, Sep 5, 2015 at 6:17 PM, Aleksej Dix <notifications@github.com>
wrote:

[2015-09-06 01:57] michaelkornblum commented on #673
Here are the steps I went through to get it to work.

1. Install npm depenencies. The ones you want to look at are accord, postcss version 4, and lost. From the command line, enter:

[code]

[2015-09-06 08:43] AleksejDix commented on #673
thx worked like a charm, i forgot accord.
but i still have problems it compiles the files when i touch them and it should compile them only when i save

[2015-09-06 11:36] Leeds-eBooks commented on #189
@jenius With a few tweaks, this is working well for me, but I still haven't been able to make this work with `roots-records`. Looking at that extension's source code, it appears to be rendering single view templates "outside" the roots compilation flow, if that makes sense. See [this function](https://github.com/carrot/roots-records/blob/master/lib/index.coffee#L157).

I think this means that ther

[2015-09-07 13:52] Leeds-eBooks commented on #189
Just in case anyone comes across this that is looking for i18n support in roots, I have actually solved the problem of `roots-records` single-view templates now. I will put my module up as an npm package at some point soon.

[2015-09-08 18:05] Leeds-eBooks commented on #638
@Gioni06 Did you make a start on this? Thinking of starting myself but don't want to duplicate work!

[2015-09-08 18:12] Gioni06 commented on #638
@Leeds-eBooks No i didn't. I stopt working on this particular project. But please tell me when you start a project. I would definitely help you where possible.

[2015-09-10 10:54] edravis opened #674 "After few recompiles it totally breaks"
I'm not sure how to reproduce it. But when I install it and I compile for the first time works fine. Then after multiple recompiles (compiling or by watching) it never ends to compile. Just stay on `compiling...` for ever.

A `--verbose` option would be much appreciate for these cases. Right now I cannot pass you any additional information.

At this moment the only solution that I've found is unin

[2015-09-10 11:53] Leeds-eBooks commented on #674
Are you on version 3.2? If so, try rolling back to 3.1.0 and you should see the problem go away.

I've been using roots for a few weeks now and I would say that it absolutely is ready for production (well, 3.1.0 is!). For some of the more complex things like i18n, it's immature compared with other solutions like Middleman or DocPad. But the benefits (written in JavaScript, the multipass compilatio

[2015-09-10 14:16] edravis commented on #674
@Leeds-eBooks thanks for take the time on this reply. I already have the 3.1.0 because another trouble that I had. Also, I've tried right now to reinstall the whole roots from `npm global` and still broke.
Do you think my version of node could affect? Which one is the more stable? I currently working over 2.0.0.

About the other topic, I agree with you in the feeling about the future of Roots. Tha

[2015-09-10 14:30] edravis commented on #674
I've found the trouble. Isn't roots breaking completely. It is that if I have any kind of mistake in the Javascript roots doesn't output me the error logs. It just stay compiling for eternity. Weird.

[2015-09-10 14:32] Leeds-eBooks commented on #674
Interesting. What JS extensions are you using?

[2015-09-10 14:34] edravis commented on #674
`roots-browserify` for the compiler
Inside the app mainly: `react` and `superagent`

[2015-09-10 14:37] Leeds-eBooks commented on #674
I am using `webpack` with a `babel` loader, which logs JS syntax errors on compile. Maybe you can use a js lint extension or lint using browserify somehow.

[2015-09-10 14:39] edravis commented on #674
Tomorrow is holidays at my city. I'll check the internal pipe compiler of `roots`. It has worked before so somewhat something has broken. I'll figure how to fix it. Really thankful for you help @Leeds-eBooks I'll let this issue opened waiting for the PR

[2015-09-11 05:41] alexsyi commented on #667
Hit this with a fresh `roots new`, too:

[code]

[2015-09-11 06:11] brewingcode commented on #667
This is fixed in commit carrot/roots-css-pipeline@5c588a8b9b23b292f54c7fd89037dd92e127eaf0 (included in v0.3.0), so I've found it easiest to just use `0.3.x`  as my css-pipeline in my package.json:

[code]

This produces properly minified css.

[2015-09-11 08:02] danielforsberg commented on #667
Thanks @brewingcode - This resolved my issue

[2015-09-11 08:02] #667 closed

[2015-09-12 17:23] i8ramin opened #675 "production compiled produces "[object Object]" in build css"
From a brand new roots project, when I run ```roots compile -e production``` I get the following side of the generated ```public/css/build.1441a7909c087dbbe7ce59881b9df8b9.css```file:

[code]

Node ver: v0.12.7
package.json:
[code]

Any way to debug this or compile in verbose mode to see what is happening?

[2015-09-12 18:55] jenius commented on #675
Hey there Ramin!

Really sorry about this, it's my fault and is the result of me not keeping the roots default template as up-to-date as it should be. You can resolve this immediately by upgrading the version of `js-pipeline` to `0.3.x` in your `package.json` file. I will update it to the correct version in the roots default template right now to prevent this issue from happening again.

Thanks fo

[2015-09-12 18:55] #675 closed

[2015-09-13 00:23] i8ramin commented on #675
works like a charm, thanks!

[2015-09-13 04:59] i8ramin opened #676 "roots deploy -to heroku doesn't deploy production files"
Running ```roots deploy -to heroku``` doesn't seem to run the production env compilation before deploying.

Manually running ```roots compile -e production``` and then ```ship public/ -to heroku``` works as expected. Tried latest master branch of roots cli as well.

Easy to reproduce.
- roots clean
- roots deploy -to {any target}
- inspect contents of ```public``` folder .. not production files

[2015-09-13 08:06] Leeds-eBooks commented on #676
Pretty sure this is expected behaviour. The deploy command can't know what you have decided to call your production `app.coffee` file, I don't think it assumes it's called `app.production.coffee`. I could be wrong.

[2015-09-13 13:57] i8ramin commented on #676
tried passing in a -e production to it as well, but no difference.

[2015-09-13 14:19] Leeds-eBooks commented on #676
Oh I see. I'll have a look at the roots source, maybe this can be fixed in a quick pr. You can always write an npm script like `roots compile -e production && ship public/ -to heroku`. However, you might need to use my fork of roots [here](https://github.com/Leeds-eBooks/roots/tree/kill-compile) (the `kill-compile` branch) which quits the compile process, which otherwise just hangs.

[2015-09-13 21:01] #665 closed

[2015-09-13 21:03] jenius commented on #670
Sorry for the late followup, but yeah that should do this trick! Thanks Josh :grinning:

[2015-09-13 21:03] #670 closed

[2015-09-13 21:11] jenius commented on #666
Hey there @edravis! I have a bit of time right now so let me try to address your questions here.

For browserify, that's fine! I usually use browserify in exactly this way and it works great.

As far as stylus goes, loading using `@import` works perfectly as far as I know. This is the primary way I load in stylus pieces, and I use it in all projects. In fact, just used it like 30 minutes ago. It m

[2015-09-13 21:11] #666 closed

[2015-09-13 21:11] jenius commented on #671
Closing this in favor of the accord issue you filed!

[2015-09-13 21:11] #671 closed

[2015-09-13 21:14] jenius commented on #668
Hey @edravis -- this is a question you might want to ask in the gitter chatroom. I don't have the capacity to debug personal roots projects at the moment. It would be amazing if you'd ask in the chatroom and if you think you have run into a bug, come back here with a very specific issue, rather than one that requires that I replicate your project and try to debug myself.

I'm sorry for having to g

[2015-09-13 21:14] #668 closed

[2015-09-13 21:14] jenius commented on #673
Glad this worked out, and thanks for the amazing detailed instructions @michaelkornblum!

[2015-09-13 21:14] #673 closed

[2015-09-13 21:15] jenius commented on #189
Yeah absolutely. Could you send it to me before publish? Would love to review!

[2015-09-13 21:17] jenius commented on #676
This seems like a valid issue to me. At least you should be able to pass the environment flag to the deploy command. If someone could take a crack at a PR for this, would be incredible. If not I will get to this eventually, but I'm afraid it might be a while as I'm pretty strapped for time at the moment!

[2015-09-13 21:29] Leeds-eBooks commented on #189
@jenius Will do. It is pretty much the definition of hacky, but it works well for my purposes so I think it might help others too. Obviously if (when?) a better solution comes around, that would instantly take precedence. I'll be in touch soon.

[2015-09-14 12:46] ganar commented on #670
@joshrowley can you be more specific on were is `package.json` located?. I don't program in this technology, I'm a roots user. How do you manage to keep both versions in the same machine?

[2015-09-14 12:54] Leeds-eBooks commented on #670
A better solution would be to install roots _locally_: `npm install roots@2.4.1` **(no `-g`)**. Then in your `package.json` (in the root directory of your roots project), add the following to the `scripts` key:

[code]

Then you just run `npm run watch` and it will use the local version of roots (local to the project).

[2015-09-14 13:05] ganar commented on #670
Thanks @Leeds-eBooks: do I have to `cd` to the directory were the project is before doing the install? will this affect the other, more recent, roots installation?

[2015-09-14 13:07] Leeds-eBooks commented on #670
Yes you do, and no it won't :)

[2015-09-14 13:07] Leeds-eBooks commented on #670
If you don't already have a `package.json`, you'll need to run `npm init` in the project directory first.

[2015-09-14 13:43] ganar commented on #670
Excellent! thanks a lot for your help @Leed-eBooks

[2015-09-14 13:46] Leeds-eBooks commented on #670
No problem! Let me know if you have any problems.

[2015-09-14 16:51] Leeds-eBooks commented on #189
@jenius https://github.com/Leeds-eBooks/roots-i18n

[2015-09-14 17:40] jenius commented on #189
@Leeds-eBooks wow, this is a really impressive piece of work. nice job! That being said, the code is honestly boggling my mind. I'm having a really hard time understanding what you're doing here. Is there any way you could try to clarify the code a little? Or even a chance we could jump on a call or something and you could walk me through it?

[2015-09-14 17:43] Leeds-eBooks commented on #189
Haha you're right. I can't do a call tonight but I will comment the crap out of it and hopefully that will help, and if not we could chat later in the week. Thanks for taking a look so quickly!

[2015-09-14 17:50] jenius commented on #189
No problem, and thank you for making it! Let me know when you have updated.

[2015-09-14 19:06] Leeds-eBooks commented on #189
Ok let me know if it makes any more sense now: https://github.com/Leeds-eBooks/roots-i18n

[2015-09-15 00:38] ryanAbbott opened #678 "Handlebars 4.0.2 is not currenlty supported."
Hello!
I tried creating a handlebars template (created an about.handlebars) and got the following error after `roots watch`:

[Error: handlebars version 4.0.2 is not currently supported]

I reinstalled handlbars version ~3 and it was error free.

[2015-09-15 09:55] jenius commented on #678
Hey there! Thanks for catching this. It's actually an upgrade to be made to [accord](https://github.com/jenius/accord) -- is there any way you could file an issue there? We'll get it fixed up as soon as we can :grinning:

[2015-09-15 09:55] #678 closed

[2015-09-15 11:48] ryanAbbott commented on #678
Done. Thanks for the quick the response.

[2015-09-17 14:30] jepedo commented on #367
Integrating browsersync would be slick. +1 for this.

[2015-09-24 16:59] SevereOverfl0w commented on #656
@jenius in light of the recent image issue, this seems required.

Gulp does this, lines of interest are:
https://github.com/gulpjs/gulp/blob/v3.9.0/bin/gulp.js#L99 this compares the provided version from local, to the known global one.

As the CLI builds on liftoff, to build the "modulePackage" part of the environment, all that does is recursively look up from where it is for package.json, and req

[2015-09-26 07:55] Gioni06 opened #679 "roots watch throws weird error"
When I run `roots watch` i get an weird jade compiler error.

'' [Error: Error: /Users/Jonas/Documents/Development/OYGO/qsc-airqoo-    update/assets/css/_partials/scroll-top.less:1

	'' 2|
	'' 3| block meta
	'' 4|   meta(name='description', content='#{config.glossarItem.description}')
''
'' ENOENT, no such file or directory '/Users/Jonas/Documents/Development/OYGO/qsc-airqoo-update/assets/css/_par

[2015-09-27 19:12] jenius commented on #656
I am interested in the concept, but don't have the time to tackle this kind of issue at the moment. I'm really sorry!

[2015-09-28 13:56] joeyjoejoejr commented on #679
This is related to #662

[2015-09-28 13:57] joeyjoejoejr commented on #679
You can try running a patched version of roots.  That's what I had to do in the meantime.

[2015-09-29 07:48] jenius commented on #367
So browsersync has it's own server, which would mean dropping charge and causing a number of breaking changes. However, its server [accepts middleware](http://www.browsersync.io/docs/options/#option-server), so it appears as if we could make it behave exactly like charge by just importing charge's middleware.

I think this won't be super difficult. Going to take a stab at it soon!

[2015-09-29 11:02] jenius commented on #367
So integration is moving along. The issue though is the same issue we have with our home-made reloading system, the dependency tree and compile pipeline.

Let me explain. When you reload browser-sync, you can pass it the name of a file or multiple files to reload. So for example if you detect that `foo.css` changed, you would pass browsersync something like `bs.reload('foo.css')` and it would do i

[2015-09-29 12:32] jenius opened #682 "Swap minimatch for micromatch"
It's better, and is a drop-in replacement. https://github.com/jonschlinkert/micromatch

[2015-10-02 18:38] Leeds-eBooks commented on #669
@tiktuk Are you using an environment argument? I have found that LiveReload doesn't work if you use `roots watch -e xyz`. For example, a basic project with an `app.coffee` works fine – change the filename to `app.dev.coffee` and run `roots watch -e dev` and livereload doesn't work.

[2015-10-02 21:18] jenius commented on #669
We have a branch in the works that will fix this issue. Tested and functional. I'm going to get it released as soon as I can. Just wanted to let you guys know! It will work with all environments as well :grinning:

[2015-10-02 21:47] Leeds-eBooks commented on #669
That's brilliant news! Thanks very much. Is that the browser sync branch?

[2015-10-02 21:51] jenius commented on #669
Yes indeed it is!

[2015-10-07 15:01] tiktuk commented on #669
Sounds good, thanks for working on it, @jenius :) .

[2015-10-14 03:33] i8ramin opened #683 "postcss block not working in app.coffee?"
I've been trying to use postcss in my project but it doesn't look like the postcss config block is being read at all. I am able to get most postcss plugins working using `poststylus`, but just defining them under the `postcss` config block does nothing. Any tips or docs on making this work?

[2015-10-14 10:42] declandewet commented on #683
Hi @i8ramin

Be sure to check that all of the following is in place:

- You have installed `postcss` in your project via `npm install postcss --save`
- Your `postcss` config block follows the correct syntax - Here's an example:
  - ![](http://infinit.io/_/GRe4a2b.png)
- At the very least, your main Stylus file (e.g. `master.styl`) should have the file extension `.css.styl`
- Optional, but a nice-t

[2015-10-14 16:56] oompt commented on #175
Where are the docs for this? I looked at roots.cx/docs but I don't see anything explicitly about the API.

[2015-10-14 18:07] oompt commented on #175
For everyone's edification:

![the picture](http://f.cl.ly/items/1S3p3P2a0D1D1F3v2g3T/Image%202015-10-14%20at%2011.06.30%20AM.png)

(Don't forget to re-compile after making changes to app.coffee)

[2015-10-18 08:11] jenius commented on #175
Hi, sorry for not responding quicker, I have had limited internet. Thanks for posting this solution and sorry you had to figure this out!

[2015-10-18 14:06] oompt commented on #175
No worries. :)

[2015-11-04 17:02] edravis commented on #674
I've issolated the problem on `roots-browserify`

We're moving here: https://github.com/carrot/roots-browserify/issues/26

[2015-11-04 17:02] #674 closed

[2015-11-12 10:48] dingledow opened #684 "Clean URLs on Amazon S3 hosting?"
I know `clean_urls` can be set in the app.coffee file to remove the `.html` extension when running `roots watch` locally.  However, I need to deploy the `/public` directory to Amazon S3 to host the site and to have clean URLs, I would have to set the meta data of the file `Content-type` to `text/html` AND rename the file removing the `.html` from the end.

Is there a way that the `/public` compile

[2015-11-12 21:17] thiagodebastos commented on #641
It has been a long time since I tried roots and unfortunately on my first attempt I am facing the same issue, but on a Mac:
node -v 5.0.0
npm -v 3.3.6

❯ npm install roots -g                                                                                                                                                   [07:48:47]
npm ERR! git clone --template=/Users/debastost/.npm/_git-remotes/_te

[2015-11-12 21:41] thiagodebastos opened #685 "Timeout when installing"
Hi guys! It has been quite some time but I've finally had a chance to come back and check out Roots again.

Unfortunately I have been unable to install roots at all. I've been facing timeout errors:

npm ERR! Darwin 14.5.0
npm ERR! argv "/Users/debastost/.nvm/versions/node/v5.0.0/bin/node" "/Users/debastost/.nvm/versions/node/v5.0.0/bin/npm" "install"
npm ERR! node v5.0.0
npm ERR! npm  v3.3.6
npm

[2015-11-14 17:35] jenius commented on #685
I think the current version of roots may be having some issues with the latest version of node. If you clone roots down, check out the `browsersync` branch, and `npm link`, it should work ok. Or downgrade node for now :grinning:

[2015-11-14 17:35] #685 closed

[2015-11-14 17:36] jenius commented on #684
A quick google search found some good answers for me!

http://stackoverflow.com/questions/23463679/s3-static-pages-without-html-extension

[2015-11-14 17:36] #684 closed

[2015-11-17 20:32] maxx1128 opened #686 "Can't install Roots globally with npm"
Every time I try to install roots I keep getting the following error on my command line:

    /usr/local/lib/node_modules/npm/bin/node-gyp-bin/node-gyp: line 3: node: command not found
    npm WARN optional dep failed, continuing fsevents@0.3.8
    /usr/local/bin/roots -> /usr/local/lib/node_modules/roots/bin/roots

    sh: node: command not found
    npm ERR! Darwin 14.5.0
    npm ERR! argv "/usr

[2015-11-18 23:24] thiagodebastos commented on #686
I'm not sure if this is relevant, but I am facing the same issue on one of my macs.
I get this error though:

[code]

It's quite strange considering I dont have an issue with any other repos on GitHub?

[2015-11-19 07:43] thiagodebastos commented on #685
Thanks! Will do, good thing I've got nvm working fine :)

[2015-11-19 22:25] thiagodebastos commented on #685
hmm this only seems to be happening on one of my computers.
I tried switching to node 4.2.2 but still get this:

[code]

[2015-11-24 10:29] nomaanp opened #687 "Using Express to submit form"
Hello,
I'm trying to implement the contact form where data would be sent through email. For sending mails, i'm using nodemailer. Can anyone please give some guidelines to get it working.

[2015-11-26 08:34] kyotoprotokollet opened #688 "Roots watch not noticing any changes"
Running roots watch does not pick up any changes for me. I get no error message, it just doesn't see any changes that I make in my code. Any ideas?

[2015-11-26 17:31] FranzSkuffka opened #689 "Check directory before running compiles"
I just ran into a problem similar to https://github.com/jenius/roots/pull/662
but it was caused by accidentally running roots inside the `views` directory.

It might make sense to check if the current directory is actually the root of a roots project.

_edit_:
In fact I am running into the exact same issue, but this might make sense anyways.

[2015-11-26 17:32] FranzSkuffka commented on #688
Which system are you on? Does the server serve the correct files?

[2015-11-26 17:34] FranzSkuffka commented on #683
It might make sense to add this to the readme and documentation as an example use of multipass compilation.

[2015-11-26 17:35] FranzSkuffka commented on #619
@jenius if not bower, what else do you use?

[2015-11-26 17:52] FranzSkuffka commented on #689
I get

[code]

on every compile except the first after initializing the watcher.

I do not encounter this bug when I do not define a `template` for a content type in roots-contentful.

[2015-12-01 12:24] jenius commented on #619
@FranzSkuffka usually npm. if not on npm, then direct or through a cdn. there are many options :grinning:

[2015-12-01 12:24] jenius commented on #688
Yeah I can't replicate this issue. Need a lot more detail here.

[2015-12-01 12:25] jenius commented on #683
I think that would be great! Would you be willing to submit a PR for this @FranzSkuffka?

[2015-12-01 12:28] jenius commented on #687
Hey @nomaanp -- this is not a roots issue, you're asking a question about how to use express and nodemailer. I think you might find better results asking in more relevant repos!

[2015-12-01 12:28] #687 closed

[2015-12-01 12:40] jenius commented on #686
Never seen this one before. Definitely not an issue with roots through haha, it's an internet thing.

[2015-12-01 12:54] FranzSkuffka commented on #683
@jenius Confirmed.
It's on my todo list now :)

[2015-12-01 21:34] thiagodebastos commented on #686
Sometimes I wish the internet behaved nicely just for one whole day, just
one! I'll look deeper into it as soon as I get a chance!
On 1 Dec 2015 23:41, "Jeff Escalante" <notifications@github.com> wrote:

[2015-12-02 04:24] FranzSkuffka commented on #683
@i8ramin was also asking for poststylus in specific. I used it in https://github.com/FranzSkuffka/gulp-stylus-pipeline but it did not improve this module. I do not think poststylus is actually ready yet but it might make sense to integrate it sooner or later.

[2015-12-02 07:23] hhsnopek commented on #683
I've actually used poststylus and it works great for the plugin I was using

[2015-12-02 12:10] Leeds-eBooks commented on #189
Hey @jenius I've been asked about getting this up on `npm` here: https://github.com/Leeds-eBooks/roots-i18n/issues/1

Do you think I can go ahead and use the `roots-i18n` package name on `npm`?

[2015-12-02 13:35] jenius commented on #189
Hey @Leeds-eBooks -- yeah, I'm really sorry for the holdup. I've been working part time and had only very little time for this kind of stuff. I just read through the plugin and it looks legit. There's certainly some Babel stuff in there that could be cleaned up, and having tests in place would make a **huge** difference, but if it's working and people are using it by all means you are welcome to p

[2015-12-02 13:35] jenius commented on #189
If I have some time on my hands I will certainly contribute some of these changes too :grinning:

[2015-12-02 13:37] #683 closed

[2015-12-03 03:26] FranzSkuffka commented on #686
Probably not but possibly a fix: `sudo chmod a+rx /usr/local/bin /usr/local/bin/node`

http://yeoman.io/learning/faq.html

[2015-12-03 03:27] FranzSkuffka opened #690 "Use rebase instead of merges."
Using a rebase instead of a merge when consuming pull requests is a way to maintain a linear commit history

[2015-12-03 04:50] jenius commented on #690
I like having merges when a branch was merged. It shows a concrete piece of work being done then merged back in. Rebase can keep the timeline and the merge bubbles clean, and each branch should be rebased before being merged, but I do not think just making everything totally flat is a good way to keep track of history.

[2015-12-03 04:50] #690 closed

[2015-12-03 08:09] Leeds-eBooks commented on #189
Thanks man, I'll get this up today. Yeah I don't know what to do about he Babel stuff, I don't have time to rewrite it without es6, and I don't think we can assume that everyone is using the latest Node.js.

I'll write up some tests when I have a bit more time!

[2015-12-03 09:04] FranzSkuffka commented on #690
Thank you for evaluating. :smile:

[2015-12-04 14:40] kyotoprotokollet commented on #688
I was on MacOS 10.9.5. Anyway, updating Node & NPM seems to have fixed this for me.

[2015-12-05 13:34] pauljakobwhite opened #691 "Trouble with less"
Hello I am trying to exchange stylus for less, or anything else really. I'm just trying to see what will be the best environment for us. But I seem to be having trouble configuring roots appropriately to use less. We don't need axis or rupture, but would like to keep autoprefixer. Does anyone know how we can achieve this in app.coffee?

We have checked out the docs for less on the accord repo but

[2015-12-05 16:06] declandewet commented on #691
Hi @pauljakobwhite

In order to get LESS working, you'll need to do a few things.

# Installing

First up, since Accord doesn't provide it's own version of the engine, you'll need to install LESS in your Roots project:

[code]

Accord, in the context of a Roots project, will then automatically have access to the LESS compiler.

# Configuring Less

The next step is to configure Less in your `app.co

[2015-12-05 23:44] pauljakobwhite commented on #691
This is incredible, thank you!

[2015-12-05 23:45] jenius commented on #691
Nailed it, thanks @declandewet :grinning:

[2015-12-05 23:45] #691 closed

[2015-12-06 02:07] pauljakobwhite opened #692 "Page title variable similar to _path in locals?"
Hello, I just posted on another issue so I hope I'm not being a bother. But I wanted to check if there is a simpler solution for what I'm trying to achieve before I go building my own method. What I'm trying to do is very basic, similar to the fact that the `_path` variable is available in `locals` and is unique to the current page, I'm looking for a way to make a variable from json data in roots-

[2015-12-06 09:51] jenius commented on #692
Nothing built in that will do this. The thing is, we can't automatically know what you want to have as your page title, so I'm afraid it's not possible. One thing you could do is use a little local function that would do a string transform though! You could use some regex replacement and perhaps [underscore.string](https://github.com/epeli/underscore.string) to help out.

You can inject a function

[2015-12-06 09:51] #692 closed

[2015-12-06 15:56] pauljakobwhite commented on #692
Thanks @jenius, this works great in returning the file name, and I tried playing around with it to do the following, but with no success:

Basically, I would like to use a function similar to this to expose some json data located elsewhere to that particular page, i.e.:

Lets say we are working with `index.html`

The function you provided, (slightly modified):

[code]
would return `index`, I would

[2015-12-06 18:07] jenius commented on #692
You basically have it. There are a ton of ways you can manage to do this. You can use the result of the `source` function in your jade layout to select a key in the `records.data` object like `records.data[source(_page)].title`. You could load the json file with this data into your `app.coffee` file then contain the whole process within the local. You could just drop the raw function into your jad

[2015-12-06 18:17] pauljakobwhite commented on #692
My goodness I was so close, I had just written it wrong in jade, I think I had something like:

 `#{records.data.{source(_path)}.title}` ... using braces instead of brackets lol ...

Thanks again for your help, all is working!

[2015-12-07 07:17] jenius commented on #692
Of course, happy to help! Nice work getting it in place, and hope roots continues to treat you well :grinning: You are always welcome to join us at http://gitter.im/jenius/roots for the community chat as well if you are looking for some quick help!

[2015-12-07 12:56] Leeds-eBooks commented on #189
FYI https://www.npmjs.com/package/roots-i18n

[2015-12-08 08:11] samccone commented on #189
wow amazing stuff @Leeds-eBooks

[2015-12-08 08:42] Leeds-eBooks commented on #189
Thanks! :blush:

It is a little hacky though so any suggestions on how this could be integrated better into the rivets flow would be very welcome.

[2015-12-09 20:43] molovo commented on #655
@jenius did you get anywhere with this? If you haven't I might take a look under the hood

[2015-12-09 20:45] dbox commented on #655
@molovo Yes, it's fixed here: https://github.com/jenius/roots/pull/681

[2015-12-11 07:56] jenius commented on #689
Sorry we are not going to include a check for the current directory. That's the developer's responsibility to know which directory they are in, not roots'. As far as the second issue, is this the same issue or a different one? If it's a different one, could you open a different issue and please add a bit more detail so we can replicate this?

[2015-12-11 07:56] #689 closed

[2015-12-16 16:16] FranzSkuffka commented on #689
This is probably some misconfiguration of the project or a naming conflict with some internal variables. Have to fix this myself. Thanks though!

[2015-12-29 14:22] desiredpersona opened #695 "Support for Ghost API"
Is it possible to use roots with ghost

Does any template exist?

Ghost now has an API http://api.ghost.org/v0.1/docs

Im currently using Buster static site generator (has some issues) to host my ghost blog on Amazon s3 but the project is not maintained anymore. Roots looks like a great maintained alternative

[2016-01-05 14:00] jenius commented on #695
Ah this is nice, so now that ghost has an API, we could make a roots extension that is able to pull in ghost posts and mirror them into a static site in much the way we have done with the [wordpress plugin](https://github.com/carrot/roots-wordpress).

At the moment, I don't have the time on my hands to crank this out, are you at all interested in tinkering with an extension? You can see the wordpr

[2016-01-05 14:45] desiredpersona commented on #695
Hey Jeff, appreciate the reply. Ok i understand you are busy. Id love to but i don't have the code skills

[2016-01-05 14:53] jenius commented on #695
If you don't have the code skills, it's going to be pretty difficult to use roots. Are you sure?

[2016-01-07 18:09] desiredpersona commented on #695
I can use the terminal etc but wouldn't be able to write the plugin myself. Wondering if you could add something to roots website to attract developers interest?

I realise your company wouldn't have use for such a plugin and therefore it wouldn't be a priority

[2016-01-09 21:09] orenmizr opened #696 "Instructions on how to debug extenstions [request]"
i know how to debug scripts. having trouble to debug with the roots command in the middle.

 using webstorm and/or iron-node.

would appreciate assistance.

[2016-01-11 04:11] jenius commented on #695
Only one way to learn, and I'm here to help :grin:

No way to make it a higher priority, maybe I'd drop in the gitter chatroom and ask. This is open source software though, using and contributing go hand in hand!

[2016-01-11 04:12] jenius commented on #696
Need a lot more info here to be able to figure out what your issue is and how we can help with solving it...

[2016-01-11 08:23] orenmizr commented on #696
platforms: windows 10

i have been using some the extensions - some of them are failing for different reasons. roots-colllection had mac only path for example.

i want to be able to run roots in debug mode - having the ability to break in some the extension and figure out what is wrong.

I can't seem to do it since i am not running "node script.js" but a "root watch" command.

when trying to setup

[2016-01-11 15:19] jenius commented on #696
I'm sorry, I don't really know what webstorm or iron-node are, and unfortunately I can't develop roots around these specific tools. Roots exposes a command line interface and a javascript API, and that's all I plan on having it expose.

However, if you'd like to debug an extension, you can quite easily get inside of one of them. Just go into your `node_modules` folder then navigate to the folder f

[2016-01-11 15:19] #696 closed

[2016-01-11 16:08] orenmizr commented on #696
i have been using console logs and i have been in contact with authors of extension. that is still being half blind.

i figured since you are the main developer you have a good setup. nevermind.

[2016-01-11 16:43] jenius commented on #696
Sorry that you feel that way @orenmizr! I'm afraid it's hard for me to imagine how directly interacting with the code that's being executed can be interpreted as "half blind", but alas I may simply be ignorant to the nature of your apparently superior tooling.

Keep in mind that this is an open source project, and as is the case with all interaction with any open source projects, the most importan

[2016-01-11 16:56] jenius commented on #696
Hey also I had a moment to take a look at iron-node. It says you can just point it to a node.js file and it will do its thing. Roots is written in node.js entirely, so it seems feasible that you'd be able to get it to work.

When you run `roots watch`, this is simply a command line abbreviation for a script execution, in this case it's a [node script](https://github.com/jenius/roots/blob/master/bi

[2016-01-11 18:14] orenmizr commented on #696
i absolutely did not mean to offend, honestly. you've build something that is beautifully balanced between flexibility and simplicity. the fact you say you did it without the ability to pause execution and debug is admirable. I assumed that wasn't the case since you've written most of the code, hence my question.

i personally need a debug tool. i feel it makes me personally more productive. but t

[2016-01-12 06:10] jenius commented on #696
Where were the files you were looking for? It should be just one file. Did you `cat` the file and see if it actually was the correct bin file? Is there a way to pass a standard command line argument along with `iron-node`? You'd need to call the file and also pass in the `watch` argument. I feel like you could figure this one out, you must be pretty close already.

Truth is that you get the same s

[2016-01-14 11:03] smuemd opened #697 "Multilingual sites"
how would you approach multilingual site in roots?

[2016-01-14 12:20] jenius commented on #697
This is the best solution we have at the moment!

https://github.com/Leeds-eBooks/roots-i18n

[2016-01-14 12:20] #697 closed

[2016-01-14 12:24] cassmtnr opened #698 "After creating new project it freezes in the console"
After I create a "roots new project-name" and it is done installing packages it just freezes on "done". Is it to be like this?

![screenshot_1](https://cloud.githubusercontent.com/assets/12648633/12324320/ef500412-baa8-11e5-9b7b-acdce405d7d6.png)

[2016-01-14 12:44] jenius commented on #698
It definitely should not. Can you control-c out of it and everything works ok?

[2016-01-14 13:08] cassianomon commented on #698
Yes, if I ctrl-c it gets alright

[2016-01-15 00:57] smuemd commented on #697
Thank You @jenius. Very helpful!

[2016-01-15 05:07] jenius commented on #698
Hmm... this is strange, but I don't honestly have the capacity to debug further at this time. Hopefully another contributor can take a look, or if you dig a little deeper and can find out any more details I might be able to fix it!

[2016-01-31 01:38] Alx-l opened #699 "No css sourcemap when using PostCSS"
Hi, first, let me thank you for this really cool tool that is **Roots** :)

Okay, so I added some *PostCSS* plugins to my project (just a dumb/test project), I followed the recommendations from your documentation and my app.coffee file looks like this :
[code]

[2016-02-03 09:56] jenius commented on #699
add `map: true` to your postcss options to enable the sourcemaps for postcss

[2016-02-03 09:56] #699 closed

[2016-02-03 15:00] desiredpersona commented on #695
Thanks for your help Jeff :smiley: I decided to use Jekyll and write my posts with iA Writer.

[2016-02-03 15:00] #695 closed

[2016-02-07 21:18] Alx-l commented on #699
Thx @jenius :)

[2016-02-12 05:52] eliwilliamson opened #700 "Roots 4.0.0 won't deploy -to gh-pages"
hangs and returns the following error

`{ [Error: read ETIMEDOUT]
  defaultMessage: 'Internal Server Error',
  message: 'read ETIMEDOUT',
  code: '500' }
Potentially unhandled rejection [6] read ETIMEDOUT
  at Object.proto.sendError (/usr/local/lib/node_modules/roots/node_modules/ship/node_modules/github/api/v3.0.0/index.js:30:19)
  at /usr/local/lib/node_modules/roots/node_modules/ship/node_modul

[2016-02-12 16:02] FranzSkuffka commented on #700
hint: @eliwilliamson you can enclose your code blocks inside ``` to format them accordingly.

[2016-02-12 16:04] eliwilliamson commented on #700
thank you @FranzSkuffka :+1:

[2016-02-15 19:07] jenius commented on #700
Hey, sorry about this! It seems like ship may have fallen behind with the github api recently, perhaps. I'll look into this soon.

[2016-02-18 14:21] eliwilliamson commented on #700
thank you @jenius - please let me know when this is resolved as i have a few projects utilizing roots at the moment. thanks again for all your (and carrot creative's) hard work!

[2016-02-18 19:45] eliwilliamson opened #701 "Remove "Connected to BrowserSync" display banner when reloading"
![screen shot 2016-02-18 at 1 43 27 pm](https://cloud.githubusercontent.com/assets/871660/13155943/c9a750c2-d645-11e5-9e33-6dd39c7cf8a5.png)
^ blocks quick checking for navigation development

[2016-02-18 20:00] jenius commented on #701
I would love to remove this, but I don't know how! Looked around in the settings and didn't find a way to turn it off. You'd have to open an issue in browser sync asking if they could add a setting to disable this feature.

[2016-02-18 20:43] eliwilliamson commented on #701
I found this in their docs but don't know where it is nested in the roots build https://www.browsersync.io/docs/options/#option-notify

[2016-02-19 05:30] jenius commented on #701
Ah nice find. Not sure how I missed that. I'll put this in tomorrow and see if it works!

[2016-02-19 19:32] #701 closed

[2016-02-19 19:33] jenius commented on #701
Works! Published as `roots@4.0.1` and live now.

[2016-02-19 19:57] eliwilliamson commented on #701
you rock @jenius thanks for the fix! Looking forward to the deploy --to gh-pages "ship" issue resolution :+1:

[2016-02-20 20:19] gristel opened #702 "[extension] Asciidoctor support"
Hi.

Are there any plans to support Asciidoctor files, along with markup?

Thanks

[2016-02-20 23:18] jenius commented on #702
Nope! But would be happy to review a pull request if you'd like to try to add support :grinning:

[2016-02-21 13:00] gristel commented on #702
I'm afraid I'm too noobish in this matter to try and attempt that :(
But maybe somebody reading this might have some ideas :)

[2016-02-21 15:20] jenius commented on #702
Hey there's only one way to improve! For now I'm going to close the issue since nobody is working on this, but happy to re-open as soon as someone is :grinning:

[2016-02-21 15:20] #702 closed

[2016-02-22 15:39] newswim commented on #700
I talked to someone at Github recently, and confirmed that there have been some changes regarding the rate and file size of deployments. Being that Ship pushes up the entire directory, projects deploying to gh-pages will need to keep a careful eye on the size of their projects.

Hopefully, a future version might see some diffing going on so that only changes to files get pushed. Until then, I just

[2016-02-22 16:12] jenius commented on #700
Thanks for the update @newswim - good info. I think what you are saying about only pushing changed assets is probably the best solution. But this would be a pretty difficult implementation, and unfortunately I don't see my company allocating time towards working on this, since we just use netlify. I'd be happy to work with someone on a PR to implement this type of thing though!

[2016-02-22 21:00] eliwilliamson commented on #700
Thank you for the update @newswim i'm excited to see this feature enhancement. In the mean time, @jenius is there a way to optimize the `compile` command to work out of the box with netlify? I tried to deploy a site (and compile locally for that matter) with multiple layouts and it left me with a broken build. On netlify, I received the following error: `Error: Error running command: Build script

[2016-02-22 21:10] jenius commented on #700
Netlify works with roots out of the box as well. Do you have roots as a dependency in your `package.json` file? You'll need it there for netlify to know which version you're after and to have it installed for the compile.

[2016-02-23 20:19] eliwilliamson commented on #700
that was it @jenius - thanks for the help and hope to see gh-pages working again soon with a Ship project update :+1:

[2016-02-24 15:06] adamkiss opened #703 "Setting server.log to anything blows up watcher"
If you set `server.log` to anything, e.g. `dev` or `tiny`, watcher blows up on first hit with this:

[code]

I was debugging this up and down and I think the problem is in the local_server ([Show Github Line](https://github.com/jenius/roots/blob/master/lib/local_server.coffee#L57)), where it calls journalist (Infestor) and should probably call columnist (Morgan). At least, fixing that works for me

[2016-02-24 15:13] jenius commented on #703
Nice catch! Seems like that is the issue. Must have been a typo! Want to submit a PR with a fix to claim the glory?

[2016-02-24 15:14] adamkiss commented on #703
I could try, but I am really just dabbling with node :) Gimme a sec

[2016-02-24 17:26] #703 closed

[2016-03-09 20:05] sethkrasnianski commented on #682
Fixed in https://github.com/jenius/roots/commit/9d39e39f4e3aa5931c43fac489c378a310ea8343

[2016-03-09 20:38] #682 closed

[2016-03-13 14:56] christiansakai commented on #637
I tried to add `assets/js/main.js` and inside `main.js` I put `console.log("heyy");` but it doesn't work at all, am I missing something?

[2016-03-15 18:06] jenius commented on #637
@christiansakai did you load the file on to your page in the html?

[2016-03-16 23:51] christiansakai commented on #637
@jenius Yes I did, in fact, main.coffee is automatically converted to main.js am I right? the index.html's main.js is already there from the main.coffee

[2016-03-17 14:42] jenius commented on #637
@christiansakai yes it is. You can check the `public` folder if you want to see the compiled files. Probably there was an issue with the path. Have you checked the console?

[2016-03-18 09:46] kiejo commented on #661
Are there any updates or workarounds for this issue? I'm using roots 4.0.1 and roots-records 0.5.1 and this issue is preventing me from using this in production. Would be great to have a fix or workaround for this.

[2016-03-18 14:35] #655 closed

[2016-03-18 14:35] #688 closed

[2016-03-18 14:36] #686 closed

[2016-03-18 14:37] jenius commented on #669
Fixed in v4

[2016-03-18 14:37] #669 closed

[2016-03-18 14:37] #659 closed

[2016-03-18 14:38] jenius commented on #654
should be fixed in v4

[2016-03-18 14:38] #654 closed

[2016-03-18 14:38] #641 closed

[2016-03-18 14:39] #367 closed

[2016-03-18 14:40] #617 closed

[2016-03-18 14:45] jenius commented on #661
Not at the moment, I haven't had a chance to fix it yet. I'll take a look as soon as I can.

Does this still happen if you just run `roots compile` once?

[2016-03-18 14:54] kiejo commented on #661
Yes, this happens when I run ```roots compile``` using the following configuration. As I said this only happens in combination with roots-records.
[code]

Thanks for looking into this. I'm deploying to Netlify now which offers its own postprocessing options, which I'm using for the generation of hashes now. This allows me to set the hash option in roots to false as a workaround for this issue.

[2016-03-18 21:10] kevin-smets commented on #586
Compiling Jade / Pug returns a deptree, we use it on a massive project and we just store the entire thing in memory. This of course needs to be updated as files change and will require a full compile to start with the entire tree. You could obviously store this to disk as well and take the hit that it possibly does not match a 100% (maybe due to a branch switch or something).

This brought our dep

[2016-03-18 21:13] jenius commented on #586
@kevin-smets yes it is. the issue is that roots supports many more languages than just jade. but it's in our plans to slim down the number and force jade by default in order to take advantage of this.

I'd love to see what you guys have done with your project! That's a really nice optimization.

[2016-03-22 10:32] FranzSkuffka opened #705 "npm modules in frontend"
I am having troubles using node modules in the frontend. I want to build an Angular2 app using roots.
When I use browserify the compile process takes roughly 4 seconds which is not bearable. js-pipeline  won't compile from node_modules. Transferring them manually does not seem to be the appropriate solution here. Did anyone tackle this yet?

[2016-03-22 10:39] FranzSkuffka commented on #705
I am having troubles using node modules in the frontend. I want to build an Angular2 app using roots.
When I use browserify the compile process takes roughly 4 seconds which is not bearable. js-pipeline simply won't compile from node_modules. Transferring them manually does not seem to be the appropriate solution here. Did anyone tackle this yet?

[2016-03-22 14:20] jenius commented on #705
How big are the node modules you are loading? Browserify would only take that long if you are loading an absolutely massive amount of code. Take a look at your output file perhaps?

[2016-03-22 15:41] FranzSkuffka commented on #705
Angular2 is just huge. I get multi-megabyte files. Thanks for the poke.

[2016-03-22 15:43] jenius commented on #705
You could always just go with [a lighter framework](https://vuejs.org) :grin:

[2016-03-22 15:46] FranzSkuffka commented on #705
I am going to build an E-Mail template editor. Do you recommend vue.js and have any experience with it? I saw it before and it looks really appealing.

[2016-03-22 15:46] #705 closed

[2016-03-22 15:52] jenius commented on #705
Yes and yes. Use it with `vue-resource` and `vuex` for best results.

[2016-03-22 16:01] FranzSkuffka commented on #705
Thanks, I will look into it. Had 2 solid days of angular2 PITA without any results.

[2016-03-22 16:06] jenius commented on #705
As far as I've seen, thats how things tend to be with angular

[2016-03-22 16:28] FranzSkuffka commented on #705
I won't let angular get between roots and me :heart:

[2016-04-04 18:23] FranzSkuffka opened #706 "Add `ship.conf` to `.gitignores` by default."
As a built-in feature I would suggest ignoring the sensitive data generated through ship by default.

[2016-04-04 19:42] jenius commented on #706
I'm entirely ok with adding this to the gitignore on [the default template](https://github.com/roots-dev/base), if you want to send in a PR!

[2016-04-04 19:59] #706 closed

[2016-04-04 23:02] FranzSkuffka commented on #706
Just to note, I was intentionally filing this issue here because it is a part of roots' core and not inherent to a template. Opened a PR on the base template now.

[2016-04-05 14:12] jenius commented on #706
Even making the compiler ignore it I'd suggest adding through the template, with `ignore` in `app.coffee`, rather than adding to core...

[2016-04-11 15:24] ryanjbonnell opened #707 "Npm warning when installing Roots globally (graceful-fs@3.0.8)"
When installing Roots globally, npm throws the following warning message:

[code]

This message is shown during the installation of the latest version of Roots, v4.0.1.

[code]

[2016-04-11 15:35] ryanjbonnell opened #708 "Npm warning when initializing new Roots project (jade@1.11.0)"
When initializing a new project in Roots, the following warning is shown:

[code]

This warning is caused by [Jade][1] being forced to [rename itself to Pug][2] :(

I'm running **Roots v4.0.1**.
[code]

[1]: http://jade-lang.com/
[2]: https://github.com/pugjs/pug/issues/2184

[2016-04-11 20:47] jenius commented on #708
We're going to have to deal with this for now, because `pug` has only released an alpha breaking version on npm, so the only stable option right now is still jade.

http://registry.npmjs.org/pug

Closing this for now, but we will update the dependency once there's a stable version of pug out!

[2016-04-11 20:47] #708 closed

[2016-04-14 10:02] axelboc opened #710 "Confused about `ignores` and `dump_dirs` configuration options"
I'm quite confused about the `ignores` and `dump_dirs` configuration options. I'm having issues with the `watch` command going into an infinite compile loop (on Windows), and keep having to deal with files and folders being copied into the output folder for no good reason, so I'd like to get my head around these two options to make sure I'm using them properly.

From the Roots documentation:

What

[2016-04-14 14:06] jenius commented on #710
Hey @axelboc!

Thanks for writing such a clear and straightforward issue. I hope I'll be able to help with this one.

`ignores`, as the docs mention, are only ignored from the compile process, not the watcher. You can use `watcher_ignores` to update which files the watcher doesn't keep track of. These do have to be separate for a good reason, and much thought was put into this particular design pa

[2016-04-15 02:24] GarrickJannene commented on #588
So I have Roots up and running on Windows 10, VS2015U1 with NodeJStools 1.0 and PowerShell to watch. Standard pages are good, templates appear to be good, but I'm running into problems with either records or config, haven't nailed down which one it is yet.

Long story short, when you copy the code from the "Hybrid static & API" tutorial, it doesn't work. The value passes to records.* just fine, I

[2016-04-16 06:09] axelboc commented on #710
Wow, thanks!

`dump_dirs` makes a lot more sense to me now; the concrete example you gave did the trick: `assets/css/index.css` gets compiled to `public/css/index.css ` instead of `public/assets/css/index.css`. Also, glad to hear that the watcher's ignores are now separate - it's a shame that the documentation is not up to date, though!

Here are a couple of follow-up questions:
- I had a look at

[2016-04-17 19:27] jenius commented on #710
Would love any help with the docs, [they are open source](https://github.com/carrot/roots-www) as is every part of roots!

First question, roots never reads any `node_modules` or `.git` folders, you can see [where it skips em here](https://github.com/jenius/roots/blob/d4c08230b5f6f723ab2bef3197caf83aae198d7b/lib/fs_parser.coffee#L71).

Second question, no, the default is in the base template. We p

[2016-04-17 22:49] axelboc commented on #710
It makes sense, thanks for clarifying all this! I'll take a look at the `verbose` option as you suggest, and try to debug the watcher issue. I've got my config under control now and I understand it, which is awesome! Thanks for your help.

[2016-04-17 22:49] #710 closed

[2016-04-18 00:26] jenius commented on #710
No problem, glad I could help! Happy to answer any other questions if you've got em 😀

[2016-04-23 12:54] dbox commented on #619
Fwiw, I rescind my +1. Npm does everything I need now.

[2016-04-27 18:25] EnMod commented on #705
Don't mean to butt in, but would either of you like to share your Roots/Vue.js setup?  I'm learning Vue now and am curious as to the optimal setup with Roots.

[2016-04-27 18:37] jenius commented on #705
@EnMod I'm not doing anything special with it, just using it the recommended way with jade. I use `vie-resource` for connection with the server.

[2016-04-27 20:45] EnMod commented on #705
Ah ok, was making sure there weren't any crazy caveats.  Given that roots-mini will be using a Webpack core, I'm assuming Vue single file components might be usable within that ecosystem?

[2016-04-27 21:01] jenius commented on #705
@EnMod yes, already working there 😁

[2016-04-28 00:00] EnMod commented on #705
Ah I see!  Looks like I need to step it up :+1:

[2016-04-28 14:03] FranzSkuffka commented on #705
No magic in my setup either, I restructure the application as I go. Usually I use it with roots-browserify to integrate with npm, but that's it.

[2016-04-28 18:16] EnMod commented on #705
Very cool! Now if only I could understand why it is throwing this `Webpack failed to add entry for` error on my files...

[2016-04-28 19:00] jenius commented on #705
Better to ask in http://gitter.im/jenius/roots. If that's happening something is likely severely misconfigured. Did you generate a new template to start? I'd start with that!

[2016-05-06 22:55] ganar opened #712 "v1.roots.cx 500 Internal Server Error"
The documentation for V2 of roots is no longer online

[2016-05-06 23:58] ganar commented on #670
@Leeds-eBooks all hell broke loose

I switched to *El Capitán* and roots 2.1.4 no longer works. Period. The error log for the —attempted— installation is 1.5MB.

Do you have any idea of which version of Node should I install to get it to run again? I'm trying to use `NVM` to install an old version and see if I can bring this old project (2 years old) back from the dead.

**HINT** I have another ma

[2016-05-07 04:02] declandewet commented on #670
@ganar

It could also very well be that you might have forgot to install all the necessary dependencies Node.js needs to build native modules, one of which seems to be Node.js itself. According to this line in your error:

[code]

You're attempting to build a legacy Node.js project with `io.js`.

Try running this first:

[code]

Then try `$ npm install roots` once again.

If that still doesn't wor

[2016-05-07 20:00] jenius commented on #712
Yeah I'm sorry about this! I'm not going to have the time to get it back online though unfortunately. If you still have a roots v2 project I'd recommend upgrading to a more recent version. If you have specific questions, I can try to help.

[2016-05-07 20:00] #712 closed

[2016-05-07 23:26] ganar commented on #670
@declandewet Great answer! So clear and thorough at the same time! Kudos! I particularly appreciate the link to the specific line on `package.json` with the dependency. I'm a designer that uses roots, not a node developer: the curve to use, and, above all, maintain the projects over time, using this kind of technologies has been quite steep.

My roots 2.1.4 installation is finally up and running,

[2016-05-07 23:39] ganar commented on #712
may I provide help on this issue? maybe those pages can run as static pages here, on github?

[2016-05-07 23:58] jenius commented on #712
You can provide any help that you can! I just do not have any extra bandwidth that I can dedicate to this, unfortunately.

[2016-05-12 14:24] ganar commented on #712
Were can I find the original docs in HTML? In which repo? I may be able to create a repo for them or fork them in my personal account and publish them in github as static pages, you can point v1.root.cx there. Would that be ok with you?

[2016-05-12 14:27] jescalan commented on #712
Yup! https://github.com/jescalan/roots-www-old

[2016-05-12 19:53] ganar commented on #712
Here is the documentation for Roots  2, running on github, it took a while, but everything is working:

http://ganar.github.io/roots-www-v1-docs/

I think that you can point v1.roots.cx to this place, or maybe host the pages that I corrected in http://github.com/jescalan/roots-www-old, whatever feels right to you. The idea is to not lose the documentation, too keep it viewable online.

Thanks for

[2016-05-15 19:58] jescalan commented on #712
You need to add a `CNAME` file to the repo for the domain to work when I point it there, see the docs here: https://help.github.com/articles/using-a-custom-domain-with-github-pages/

[2016-05-18 10:50] flexmotion opened #714 "Compile only "changed files" from watch command"
Is it possible through the roots build scripts to set a setting that would allow for only changed files to get compiled?

Atm. with < 20 files it takes several seconds to compile any change.

This is primarily changes to ex. .styl, .coffee etc.

[2016-05-18 11:12] flexmotion opened #715 "watch command changes file names"
If I have a file compiled.min.js in assets/js/** then running "roots watch" will remove the extension of compiled.min.js, resulting in a file called compiled.min.
Is it possible to bypass this behaviour via options?

[2016-05-18 13:55] jescalan commented on #714
Unfortunately it is not, because of dependencies - see #586 for a full explanation.

However, we are working on a next-generation version of roots called [spike](https://github.com/static-dev/spike) that holds on to a full dependency graph and solves this problem. It's in early stages so I wouldn't yet build any important production apps on top of it unless you want to be in close contact with us

[2016-05-18 13:55] #714 closed

[2016-05-18 14:08] jescalan commented on #715
So multipass compilation is a fairly complex process with very specific rules. You can see a breakdown of these rules [here](http://roots.cx/docs/multipass). Based on what you have here, I'd guess that you are using a compiler that processes `.js` files, which is why you are getting this result. If we change the rules around for multipass it would break many other situations, so I'm afraid we can'

[2016-05-18 14:23] flexmotion commented on #715
The rules makes sense. The file in question is a file from an external library managed through bower. So I am not able to change the name of the file without losing consistency.
It is bad naming convention from the library supplier, but it is quite common (also there is no file without the extra dot in the package)

`forceCopy` would work as external lib files usually does not need to be compiled.

[2016-05-18 14:26] flexmotion commented on #714
So Roots is getting "put on ice"?

[2016-05-18 16:26] jescalan commented on #714
The plan at the moment is once spike is fully stable and released to put Roots on "LTS", basically in maintenance mode. No new features will be added, but bugs will be fixed, dependencies will stay up to date, and everything will continue working as is. Down the road we will decide how long of a period this will be, but it will be at least a year.

Essentially, we have done what we can with Roots,

[2016-05-18 16:30] jescalan commented on #715
Any interest in taking a stab at contributing `forceCopy`? It might be a good spot to jump in to the codebase, and I'd be happy to help. Otherwise I can make it happen eventually, but it might be a bit since I have a lot on my plate at the moment, and it's not an issue affecting my company at the moment, so it's hard to get these things to the top of the priorities list.

[2016-05-23 13:51] ganar commented on #712
Hi Jeff:

I’m sorry for my delay in answering you. The CNAME configuration on my side is ready

Cheers!

[2016-05-25 01:41] ngarland79 commented on #638
This would be an excellent addition to roots. Manual sitemaps are no fun.

[2016-05-25 01:58] jescalan commented on #638
@ngarland79 you should work on an extension that does this! happy to help if you need it 👍

[2016-05-25 02:34] ngarland79 commented on #638
Great, thank you! I will look into it as soon as I can.

[2016-05-25 19:14] jescalan commented on #712
@ganar the domain redirect is set up. `CNAME` for `v1.roots.cx` points to `ganar.github.io`

[2016-05-25 21:50] ganar commented on #712
Great: It's working! I need to change a couple of things, but at least it is usable.

[2016-06-14 21:06] Hoenoe opened #718 "Can't get handlebars.js to work"
Would love some help here..

I removed Jade and installed handlebars.js with:
`$ npm i handlebars -S`

Renamed the extentions to index.hbs.

And for a little test I put in the code below:
But nothing gets compiled.

[code]

package.json file:

[code]

When I add in the handlebars.js through a cdn it removes the text 'This will get replaced by handlebars.js'.
But does also not compile it correctly

[2016-06-14 21:26] jescalan commented on #718
Hey there @Hoenoe! A better place to ask questions might be [our gitter chatroom](https://gitter.im/jescalan/roots), this is more a place for things that might be an error with roots.

In this case, your issue is entirely outside the scope of roots. Roots' use of handlebars is to compile templates into static html files, which is is doing exactly as intended. You are trying to use handlebars throu

[2016-06-15 05:07] Hoenoe commented on #718
Hey @jescalan,
Thank you for your help!
This clarified things and changing the extension to `.html` did the trick.

[2016-06-15 13:55] jescalan commented on #718
Great! If you want to precompile the templates, you could always try the [client-templates extension](https://github.com/carrot/roots-client-templates) as well

[2016-06-15 13:55] #718 closed

[2016-07-02 16:13] pattyok commented on #686
For anyone coming across the postinstall.js error. Update npm to the latest stable version and you should be good to go.

[2016-07-29 10:01] reubano opened #721 "Make analytics opt-in"
I appreciate the message you display during install, but I think it would more respectful of users' privacy to make analytics opt-in instead of opt-out.

[2016-07-29 13:59] jescalan commented on #721
Hey there @reubano,

Unfortunately, if that was the case hardly anyone would opt in for the analytics. This is not because people are objected to analytics (we have thousands and thousands of users, less than 1% opt out, and this is the first time anyone has ever opened an issue about it), it's because it offers them no benefit, so they would not put extra work into enabling it.

However, the anal

[2016-07-29 13:59] #721 closed

[2016-08-05 12:39] reubano commented on #721
Thanks for your detailed response!

That's kinda the point ;)

Isn't it also possible that people *do* object to analytics and just aren't aware they are being tracked?

So why default in a "feature" with no immediate benefit to the user?

How about the download stats offered from npm?

A page which isn't linked to anywhere (that I could see) from the roots site.

Roots is modular, so wouldn't you

[2016-08-05 14:18] jescalan commented on #721
It is possible, but this would be their own fault for not reading the very clear and obvious message about it after installing, so I feel like it's unlikely, and even if it is the case there's nothing I can do about it.

It's linked in the message about analytics that appears on install. You know, the one that brought you here. It's not relevant to the roots site, where people are going to find ou

[2016-08-31 21:16] juliomarcos commented on #638
Any idea if this extension can be done while also using the contentful extension?

[2016-08-31 21:21] jescalan commented on #638
It could in theory, but would make things a little more complex. It would need to come after contentful in the plugin order, and would need to take in a shared object containing some contentful data.

[2016-08-31 21:23] juliomarcos commented on #638
Woow, thank you for the fast response.
What method should I define to run my extension only after contentful has finished? I've tried to do that using setup but it didn't work.

[2016-08-31 21:25] jescalan commented on #638
You'd need to use the `ordered` property on the extensions you need to run in a specific order to accomplish this. More details here on this: http://roots.cx/docs/extensions!

[2016-08-31 21:33] juliomarcos commented on #638
Great thanks. I'm not going to use the contenful object to do that, but instead, I'll inspect our html files because not all content comes from contentful.

[2016-09-21 18:28] cassianomon opened #725 "Installation not working on Mac OSX"
I made an static page using Roots and now after some months I need to give maintenance to it and tried to reinstall Roots, somehow it's not installing in the macOS that I'm using now.

Ther error when I am trying to install:

/usr/local/lib/node_modules/roots/node_modules/mkdirp/index.js:90
                    throw err0;
                    ^

Error: EACCES: permission denied, mkdir '/Users/cassi

[2016-09-21 18:36] jescalan commented on #725
http://roots.cx/docs/error#eacces-permission-denied

[2016-09-21 18:36] #725 closed

[2016-09-21 19:06] cassianomon commented on #725
Oh, I am sorry Jeff, you can tag this as spam, I am gonna edit the Issue

[2016-09-21 19:17] jescalan commented on #725
@cassianomon haha it's totally fine! you don't need to delete it, someone else might have the same problem in the future and find this, never know!

[2016-09-22 01:57] drbe4t opened #726 "Roots error when installing globally"
Soo i'm not quite sure what's going on. firs it gives me this.

npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm WARN deprecated tough-cookie@2.2.2: ReDoS vulnerability parsing Set-Cookie https://nodesecurity.io/advisories/130
\

then it says

Error: EACCES: permission denied, mkdir '/Users/dannyrubio/.config/roots'
  at Error (native

[2016-09-24 02:51] calebeby commented on #367
How can BrowserSync be configured in Roots?

[2016-09-24 02:55] calebeby commented on #367
I want the browsersync script in `head` instead of `body`:

[code]
from https://github.com/BrowserSync/browser-sync/issues/977#issuecomment-236443965

[2016-09-25 14:22] TheDancingCode commented on #588
@haxsu - Could you elaborate on how you fixed the issue with your Windows user name? I can't get it to work.

[2016-09-25 18:58] cassianomon commented on #726
I had the same error on Mac and also on Linux, try this, it worked for me:

`npm config set prefix '~/.npm-packages'`

and adding $HOME/.npm-packages/bin to $PATH

`export PATH="$PATH:$HOME/.npm-packages/bin"`

[2016-09-25 19:00] cassianomon commented on #726
Also check this: https://github.com/jescalan/roots/issues/725

[2016-09-26 16:52] jescalan commented on #726
Yep #725 has the answer!

[2016-09-26 16:52] #726 closed

[2016-09-26 17:06] jescalan commented on #367
@calebeby currently there isn't an option to configure browsersync, although if you'd like to make a pull request to add one you are welcome to, [the logic is here](https://github.com/jescalan/roots/blob/master/lib/local_server.coffee#L31). I'm not sure I understand the need to do this though, isn't this an issue with rails/turbolinks?

[2016-09-26 18:41] calebeby commented on #367
Sure, I'll see if I can work on it this weekend.
Turbolinks can be used outside of rails, it is just a script that
intercepts links like spike-pushstate.

It does not play nice with browsersync because browsersync puts the script
in body instead of head

On Mon, Sep 26, 2016, 10:06 AM Jeff Escalante <notifications@github.com>
wrote:

[2016-09-26 19:07] jescalan commented on #367
@calebeby honestly it would probably be better to just use spike-pushstate. I can fix it to work with the latest version if you want.

[2016-09-27 01:53] calebeby commented on #367
Can spike-pushstate work with roots?

On Mon, Sep 26, 2016 at 12:07 PM Jeff Escalante <notifications@github.com>
wrote:

[2016-09-27 04:30] calebeby commented on #367
Even if `spike-pushstate` does work with `roots`, it is still a good idea to make browsersync configurable. Are you still interested in me working on this?

[2016-09-27 16:22] jescalan commented on #367
@calebeby it will definitely not work with roots, but [this project](https://github.com/djeglin/cygnus-js) would!

[2016-09-28 04:43] drbe4t commented on #725
ya'll are awesome! Thanks for the help

[2016-09-28 05:04] drbe4t commented on #725
Another quick question. I'm just trying to mess around with roots and I got this in one of my watch information.
Transformers.markdown is deprecated, you must replace the :markdown jade filter, with :marked and install jstransformer-marked before you update to jade@2.0.0.
is jstransformer-marked not installed by default?

[2016-09-28 05:40] drbe4t opened #730 "Roots fails to run after install"
Okay so I get roots installed I created a new site. messed around for awhile then I went to add the blog template to mess with that. However, when I run it says -bash: roots: command not found.

not quite sure what happened here. Any help?

[2016-09-28 14:59] jescalan commented on #725
@drbe4t You can check the `package.json` file under `dependencies` to find out!

[2016-09-28 15:01] jescalan commented on #730
There isn't nearly enough information for me to be able to tell what happened here, but I'd give it a 99% chance that it's something a little messed up with your machine rather than an issue with roots. This type of issue is better to take to https://gitter.im/jescalan/roots, since it's a support request rather than a bug, come meet me there!

[2016-09-28 15:01] #730 closed

[2016-10-05 04:14] roytruelove opened #735 "Official nodejs Docker images need to be rewritten to support roots"
I spent the day today working on Dockerizing a roots build based off of the [official node images](https://hub.docker.com/_/node/).  Every install attempt, however, ended in `EACCES: permission denied`.  The most basic attempt was this:

[code]

Which gave me:

[code]

I couldn't figure out how this could happen since I was running as `root`.  I finally happened upon this from the [roots docs](htt

[2016-10-05 15:58] jescalan commented on #735
So if you are running as root, it doesn't really make much sense that you'd get a permissions error, as the root account should have permission to access anything, especially its own home directory.

I have not had much experience with docker, so I can't really give a lot of info about how docker works with respect to root accounts and permissions, but I can assure you that what's happening here i

[2016-11-10 17:13] davidmarquis commented on #661
I'm experiencing a very similar issue but with the use of the `roots-i18n` extension.

It's a very small site with only 2 pages. When I disable the `roots-i18n` extension, everything related to hashing works correctly. As soon as I enable the `roots-i18n` extension, the `.js` file reference in  `index.html` gets properly revved, but the reference on the other page (`business.html`) does not get re

[2016-11-10 17:19] jescalan commented on #661
I might cross-post this to roots-i18n? I didn't build this extension so I can't say I really am super familiar with its internals...

[2016-11-10 17:22] davidmarquis commented on #661
It is quite simple, the important part seems to be this:

[code]
For every language, the extension will create an object in the form `{path: ..., content: ...}` and return it. This seems to be in line with the description on Roots website: http://roots.cx/docs/extensions#write-hook

[2016-11-10 18:01] jescalan commented on #661
Thanks for the analysis here -- you definitely might be right. I don't really have the time to resolve this myself, but if you are willing to jump in and work on a patch I'd be happy to advise!

[2016-11-10 19:18] davidmarquis commented on #661
I had a deeper look and I might have an idea of what's going but still can't pinpoint where the exact origin would be.

Here's what I think is happening... maybe this combined with your 'insider look' might help progress this.

Looking at [the code](https://github.com/carrot/roots-js-pipeline/blob/master/lib/index.coffee) of `roots-js-pipeline` (`roots-css-pipeline` probably works very similarly),

[2016-11-10 19:41] davidmarquis commented on #661
Reading the documentation of the `process_files` method in `compile.coffee` ([link](https://github.com/jescalan/roots/blob/master/lib/api/compile.coffee#L173)) it *seems* that maybe a possible way to make all this work is to have `roots-js-pipeline` and `roots-css-pipeline` returned `ordered: true` in their fs() methods?

That would break the benefits of parallel processing for simple cases so may

[2016-11-10 19:56] davidmarquis commented on #661
OK I had consistent success with returning `ordered: true` in the `fs()` function of the `roots-i18n` extension. I'll probably fork that project and tweak it for now because I need to ship...

But I fear that the issue at hand might be uncovering somewhat of a design flaw in the way Roots processes files in parallel... Let me know your thoughts!

[2016-11-11 16:13] jescalan commented on #661
@davidmarquis sounds good! I don't think it's really a significant issue, to be honest. The thing is, it's extremely rare that roots users actually use the hashing, since deployment services like netlify, which are entirely free and interop very fluidly with roots, handle this for you. Roots has been stable for years, and used to build thousands of sites, and while a small number of people have ru

[2016-11-11 20:58] davidmarquis commented on #661
Ah crap, had I known that spike existed I would've used it for my project!  :) I'll have a look...

Happy to help!

[2016-11-11 21:51] jescalan commented on #661
@davidmarquis ah yeah we haven't really pushed any publicity on it yet, but we will sometime soon! it's still production ready and widely in use 😉

[2016-12-08 16:42] kernowjoe opened #750 "use js rather than coffee"
I may be missing something but I can't seem to use app.js and pure js rather than app.coffee.

are there some settings for this, or is this just not possible?

[2016-12-10 14:08] kylefraser opened #752 "Public folder created outside root directory"
I've been getting this odd issue lately with the Public folder being created outside of the root folder structure. I've done a few different tests with it and can't really seem to point my finger on the cause. It happens when I run 'roots watch' and I'm not sure if it's because of certain project names or what.

For instance: I ran a 'roots new mobile' and this issue occured. However, running 'roo

[2016-12-10 14:34] declandewet commented on #752
Hi @kylefraser - I've not used Roots in some time, but I do remember having a similar issue to this at one point - the source of the problem for me was a rogue `package.json` one level up from my roots project folder. To illustrate:

[code]

[2016-12-12 17:01] jescalan commented on #750
It's not possible at the moment, although roots' cousin [spike](https://github.com/static-dev/spike) does have this capability!

[2016-12-12 17:01] #750 closed

[2016-12-12 17:29] kernowjoe commented on #750
Brilliant thank you

[2016-12-29 13:40] smth commented on #688
I'm getting this issue at the moment. Running `roots watch` compiles successfully, but does not detect changes after that (without cancelling the watcher and running again).

I'm using the latest version of Roots, but working on an old site that I built on version 2 or 3 I think. I got a few warnings when installing the package:

[code]

[2017-01-16 02:16] Reinkaos opened #754 "Before Hook Promise"
Hey,

I am having an issue with the before hook on app.coffee where the Roots compilation doesn't appear to wait for the promise to be resolved before compiling.

In an empty Roots project, I would expect that this code would cause Roots to never compile.

`axis         = require 'axis'
rupture      = require 'rupture'
autoprefixer = require 'autoprefixer-stylus'
js_pipeline  = require 'js-pipelin

[2017-01-17 18:28] bretonio opened #755 "Axis Bold as Love"
Having difficulty though not mad at you my friend. This would be a mitzvah for a  newbie if you could find time to dispel the fog.

I thought I understood from your documents that "by default, axis will auto-import itself into all your stylesheets." I am not  finding this to be so?

Starting a new project -- `roots init roots-axis-bold` -- creates the following `app.coffee`.
[code]

In the `node_m

[2017-01-17 18:35] jescalan commented on #755
So axis is a transparent library, meaning that you need to use its functions for it to show itself. It's not bootstrap, and will not automatically style your page for you -- you choose when to use it, and what elements to use it on. It is there and ready for you to use in your stylesheets when you need it though.

Check out [the docs](http://axis.netlify.com/) and use one of its functions, watch i

[2017-01-17 18:35] #755 closed

[2017-01-17 20:51] jescalan commented on #754
Hey @Reinkaos! Thanks for pointing this out. It appears as if this is a bug. I'll have it patched up and a new release out to resolve it shortly 👬

[2017-01-17 21:05] jescalan commented on #754
Hey actually, anyone interested in trying to submit them patch themselves? This is a fairly straightforward change if you understand how promises work 😁

This is the method that needs to be slightly retooled: https://github.com/jescalan/roots/blob/master/lib/api/compile.coffee#L106

Basically, `W.resolve` should be used here instead of `lift`

[2017-01-18 23:14] Reinkaos commented on #754
Hey @jescalan thanks for getting back to me, I look forward to this issue being fixed :).

[2017-02-08 22:55] inferi0n opened #759 "error fatal: Could not read from remote repository."
Hi!
I have problem. I've tried to install sprout static-cms, and when i run `npm i` i see this error.
I tried run command line with -root, and tried `npm cache clean` but this both methods didn't work.
It seem like problem in that there is no repo jenius/st. Can you help me, please?

`verbose stack Error: Command failed: git -c core.longpaths=true clone C:\Users\Руслан\AppData\Roaming\npm-cache\_g

[2017-02-08 22:58] jescalan commented on #759
Hi there @inferi0n -- this is an issue with sprout-static-cms and not roots, so I'd report it over there. Chances are this repo is unmaintained though, I must warn you!

[2017-02-08 22:58] #759 closed

[2017-02-18 12:57] uxdiva opened #764 "Roots won't install"
I have a fresh install of NodeJS -- just downloaded this week. But I can't get Roots to install.
On Glitter -- someone suggested running a change owner `sudo chown -R $USER /usr/local/lib` -- Which I did, but that did not fix the problem. I would really like to use this tool, please help.

Here is the error I get. (I've attached the log at the end)

npm ERR! Darwin 15.6.0
npm ERR! argv "/usr/local

[2017-02-18 22:37] jescalan commented on #764
Check here! https://github.com/jescalan/roots/issues/726

[2017-03-17 12:59] iyerrama25 opened #776 "Roots JS-API Use Coffeescript.register() error"
Hi there,
Referring to the following Docs: http://roots.cx/docs/js_api

I copy paste the create new instance of Roots code into 'app.js' and in a package.json adjoining to it, add 'roots' & 'coffee script' as dependencies.
[code]

Am trying to run the app.js and getting the following error:

[code]
Not sure how to fix it. Any help would be good.

thanks!

[2017-03-17 21:59] jescalan commented on #776
The error message gives you the solution!

`Error: Use CoffeeScript.register() or require the coffee-script/register module to require .coffee files.`

If you need to require a coffee file, just run `require('coffee-script/register')` at the top of the file you are requiring into. Or use a regular js file.

[2017-03-17 21:59] #776 closed

[2017-08-30 06:01] Quintisimo opened #801 "Roots watch uses app.production.coffee"
When i run `roots watch` roots uses app.production.coffee instead of app.coffee. Isn't it suppose to use app.coffee by default?

[2017-08-30 13:46] jescalan commented on #801
Yep, there are tests in place to ensure this behavior, and they are passing to my knowledge. If you can make a small project that reproduces this issue it would help!

[2017-08-30 13:51] Quintisimo commented on #801
https://github.com/Quintisimo/HiQ
This is one of the projects where I'm using roots

[2017-08-30 15:40] jescalan commented on #801
I just pulled that project down and compiled it, and it did not use the production config. This can be verified by adding a `console.log` to the production config file, and running `roots compile`. If the console log doesn't appear, it's not using that config.

Are you 100% sure the production config is being used in your case? What steps have you taken to verify that this is the case? And what op

[2017-08-30 20:42] Quintisimo commented on #801
I did the verified this by removing the `roots-records` declaration from the `app.production.coffee` but left it in the `app.coffee` and then ran `roots watch`. The site did not compile which told me that the app.coffee file was not being used. I also tried the `console.log` and it gave me the same result.
How do i force roots to use the `app.coffee` file when i run `roots watch`? Also I am on Win

[2017-08-30 22:27] jescalan commented on #801
So I am unable to reproduce this issue, I'm sorry! That being said, I ran this on a mac, not windows, so that might be related to the issue. Unfortunately I do own a windows machine, and also not have the time to look into this any further for you right now. However, if you want to look into it that would be great!

The point where the config pull happens in the source code [is right here](https:/

[2017-08-30 22:34] Quintisimo commented on #801
I think I figured it out. Node is setting the default environment to production and that is why it is using app.production.coffee. If I set the environment to development and then run roots it uses app.coffee. I just need to set the node environment to development by default

[2017-08-30 22:35] jescalan commented on #801
Nice, glad you got it! 🙌 Good detective work.

[2017-08-30 22:35] #801 closed

[2018-01-07 15:35] bretonio commented on #725
@jescalan your link to the Roots site is dead at the moment. We soldier on.

[2018-01-07 16:17] jescalan commented on #725
Hi @bretonio! Sorry - roots is no longer under active maintenance, and the domain is more than $100 annually for me out of pocket, so I let it go. You can access the docs at http://roots.netlify.com/

[2018-01-07 17:31] cassianomon commented on #725
@bretonio Check out https://github.com/static-dev/spike

[2018-01-25 14:24] milosmijakovac commented on #701
[code]

[2018-12-15 14:44] skdineshkumar commented on #701
Can you please help me in where to find the settings? I'm using sublime text 3 plugin for browsersync.

Thanks,

[2019-02-04 20:59] jcarignan commented on #701
I am also looking for an answer. I already tried to add `notify: false` to webpack.config.watch.js but no dice. I also don't understand how browsersync-webpack-plugin is set at "^0.6.0" in package.json. Looking at the tags on the repo (https://www.npmjs.com/package/browser-sync-webpack-plugin) looks like 0.6.0 doesn't exist. Apparently the feature was implemented on Jul 3rd, 2017 (https://github.c

[2019-05-31 02:34] alinobari commented on #701
For anyone stuck on where to place the `notify: false`, this is the configuration for `gulpfile.js` (v4):
[code]

[2019-08-11 10:26] MegaMaxmaxmaximus opened #803 "Remove "Connected to BrowserSync" display banner when reloading"
Remove "Connected to BrowserSync" display banner when reloading

**With Command Line Arguments**

[2019-08-11 21:06] jescalan commented on #803
This issue is not detailed enough to be understood. Additionally, this project is no longer actively maintained, and is open source, so if this is a feature request you'd have to be willing to implement it yourself! Closing for now, but will re-open if the issue can be clarified or is being actively worked on.

[2019-08-11 21:06] #803 closed

[2019-08-11 21:06] #764 closed

[2019-08-12 07:28] MegaMaxmaxmaximus commented on #803
@jescalan how to disable  "Connected to BrowserSync" message, if we run BrowserSync with command line? ```browsersync --mute``` ??

[2019-08-12 11:53] jescalan commented on #803
I couldn't tell you, since this is not the repo for browsersync, nor do I work on browsersync. I'd recommend heading over there to ask about it

[2020-01-26 22:41] ucarmurat commented on #701
You can fix like this.
Open the folder "sublime Text 3/Packages/Browser Sync/node_modules/browser-sync/lib/**default-config.js**"

and then change the "notify: true," with "notify: false,"

[2020-02-07 23:04] LuizCarlosPJr commented on #701
Hello there, can someone please give an insight on how to config this on vs code? i'm using vscode-preview-server extension. Thanks in advance!

[2020-02-08 11:04] vdegenne commented on #701
`--no-notify` for the command line ;-)

[2020-10-14 09:54] EarthmanWeb commented on #701
It annoys me at the top right, but I still like to have the option to see the banner, just not where it lands...

To that end: this CSS code puts it nicely at the bottom right of the page, or you can use similar non-obtrusive css in your page to change the default style anyway you want...

Enjoy!!!

*Note:  calc might not always work: [check your browser here](https://caniuse.com/calc )
[code]

[2021-06-24 08:23] Michaelvons commented on #684
In a multipage web app with about 12 pages, manually editing the file extension and format is inefficient for on every upload.

An automated and worry-less strategy is to use **AWS Lamda@Edge**. It solves this completely.

First, create an AWS Lambda function and then attach your CloudFront as a trigger.

In the code section of this AWS Lamda page, add the snippet in the repository below.

[https:

[2021-10-15 19:37] Maxwell200073 commented on #701
In windows, go to C:\Users\yourname\AppData\Roaming\npm\node_modules\browser-sync\dist

Replace your name with yours in the above destination. Then find default-config file.  Open that in your text editor and find notify: true,
Mine was on line 330. Just change it to false and save. Congrats!!! That annoying pop-up is gone forever. RIP

[2021-12-28 05:23] #611 closed

[2022-10-23 10:51] IvoLondon commented on #684
The better approach is to use Lambda@Edge and handle the request to the correct object.

https://aws.amazon.com/it/blogs/compute/implementing-default-directory-indexes-in-amazon-s3-backed-amazon-cloudfront-origins-using-lambdaedge/

[2022-10-29 15:58] murtuzaalisurti commented on #701
thanks

[2022-11-07 11:09] limitlesscreator commented on #701
thank uuuuuuu